<form [formGroup]="formulario">
  <section class="contenedor-singular superior">
    <app-encabezado-procesos
      [titulo]="titulo"
      [numeroComprobante]="formulario.value.comprobante | corregirCodigo"
      [creado]="formulario.value.creado"
      [modificado]="formulario.value.modificado"></app-encabezado-procesos>
    <mat-card>
      <article class="contenido">
        <!-- unidadAdministrativaCedente -->
        <mat-form-field appearance="fill" class="unidadAdministrativaCedente">
          <mat-label>Unidad administrativa cedente</mat-label>
          <input
            type="text"
            matInput
            formControlName="unidadAdministrativaCedente"
            readonly="true"
            [value]="
              formulario.value.unidadAdministrativaCedente
                | denominacionUnidadAdministrativa
                | async
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarUnidadAdministrativaCedente()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- empresaPersonaEntrega -->
        <mat-form-field appearance="fill" class="empresaPersonaEntrega">
          <mat-label>Empresa/Persona entrega</mat-label>
          <input
            type="text"
            matInput
            formControlName="empresaPersonaEntrega"
            readonly="true"
            [value]="formulario.value.empresaPersonaEntrega" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarEmpresaPersonaEntrega()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- representanteEmpresa -->
        <mat-form-field appearance="fill" class="representanteEmpresa">
          <mat-label>Representante empresa</mat-label>
          <input
            type="text"
            matInput
            formControlName="representanteEmpresa"
            readonly="true"
            [value]="formulario.value.representanteEmpresa" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarRepresentanteEmpresa()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- explicacion -->
        <mat-form-field appearance="fill" class="explicacion">
          <mat-label>Explicación</mat-label>
          <textarea rows="2" matInput formControlName="explicacion"></textarea>
        </mat-form-field>
        <!-- observaciones -->
        <mat-form-field appearance="fill" class="observaciones">
          <mat-label>Notas</mat-label>
          <textarea
            matInput
            rows="2"
            formControlName="observaciones"></textarea>
        </mat-form-field>
      </article>
    </mat-card>
  </section>
</form>
<!-- tabla activos -->
<section class="contenedor-singular inferior">
  <app-activos-proceso
    [dataSource]="dataSource"
    (agregarActivo)="agregarActivo()"></app-activos-proceso>
</section>
<!-- barra de herramientas lateral -->
<app-toolbar
  (importar)="importar()"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  [desabilitarGuardar]="formulario.invalid"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  [mostrarImprimir]="false"
  [mostrarSalir]="false"></app-toolbar>
