<form [formGroup]="formulario">
  <section class="contenedor-singular superior">
    <app-encabezado-procesos
      [titulo]="titulo"
      [numeroComprobante]="formulario.value.comprobante | corregirCodigo"
      [creado]="formulario.value.creado"
      [modificado]="formulario.value.modificado"></app-encabezado-procesos>
    <mat-card>
      <article class="contenido">
        <!-- unidadAdministrativa -->
        <mat-form-field appearance="fill" class="unidadAdministrativa">
          <mat-label>Unidad administrativa</mat-label>
          <input
            type="text"
            matInput
            formControlName="unidadAdministrativa"
            readonly
            [value]="
              formulario.value.unidadAdministrativa
                | denominacionUnidadAdministrativa
                | async
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarUnidadAdministrativa()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- empresaAutorizada -->
        <mat-form-field appearance="fill" class="empresaAutorizada">
          <mat-label>Empresa autorizada</mat-label>
          <input
            type="text"
            matInput
            formControlName="empresaAutorizada"
            readonly
            [value]="
              formulario.value.empresaAutorizada
                | denominacionProveedor
                | async
                | corregirSeleccionar
            " />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="buscarEmpresaAutorizada()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- personaAutorizada -->
        <mat-form-field appearance="fill" class="personaAutorizada">
          <mat-label>Persona autorizada</mat-label>
          <input type="text" matInput formControlName="personaAutorizada" />
        </mat-form-field>
        <!-- explicacion -->
        <mat-form-field appearance="fill" class="explicacion">
          <mat-label>Explicación</mat-label>
          <textarea rows="2" matInput formControlName="explicacion"></textarea>
        </mat-form-field>
        <!-- observaciones -->
        <mat-form-field appearance="fill" class="observaciones">
          <mat-label>Notas</mat-label>
          <textarea
            matInput
            rows="2"
            formControlName="observaciones"></textarea>
        </mat-form-field>
      </article>
    </mat-card>
  </section>
</form>
<!-- tabla activos -->
<section class="contenedor-singular inferior">
  <app-activos-proceso
    [dataSource]="dataSource"
    [agregarActivoDeshabilitado]="formularioInvalido()"
    (agregarActivo)="agregarActivo()"
    (removerActivo)="eliminarActivo($event)"></app-activos-proceso>
</section>
<!-- barra de herramientas lateral -->
<app-toolbar
  (importar)="importar()"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  (buscar)="buscar()"
  [desabilitarGuardar]="deshabilitarGuardar()"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  toolTipPersonalizado="Ir a Procesos"
  [mostrarSalir]="false"></app-toolbar>
