<mat-card>
  <table mat-table [dataSource]="dataSource" class="table">
    <!-- comprobante -->
    <ng-container matColumnDef="comprobante">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Comprobante</th>
      <td mat-cell *matCellDef="let row">
        {{ row.comprobante | corregirCodigo }}
      </td>
    </ng-container>
    <!-- unidadAdministrativaCedente -->
    <ng-container matColumnDef="unidadAdministrativaCedente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Unidad Administrativa Cedente
      </th>
      <td mat-cell *matCellDef="let row">
        {{
          row.unidadAdministrativaCedente
            | denominacionUnidadAdministrativa
            | async
        }}
      </td>
    </ng-container>
    <!-- unidadAdministrativaReceptora -->
    <ng-container matColumnDef="unidadAdministrativaReceptora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Unidad Administrativa Receptora
      </th>
      <td mat-cell *matCellDef="let row">
        {{
          row.unidadAdministrativaReceptora
            | denominacionUnidadAdministrativa
            | async
        }}
      </td>
    </ng-container>
    <!-- creado -->
    <ng-container matColumnDef="creado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Creado</th>
      <td mat-cell *matCellDef="let row">
        {{ row.creado }}
      </td>
    </ng-container>
    <!-- acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
      <td mat-cell *matCellDef="let row">TODO</td>
    </ng-container>

    <!-- ejecuta el armado de la tabla -->
    <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnasVisibles"
      class="row-hover"></tr>

    <!-- mostrar cuando no hay datos que coincidan -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay datos para mostrar"</td>
    </tr>
  </table>
</mat-card>
