<section class="outside">
  <form [formGroup]="activoComponenteForm">
    <mat-card>
      <h3 class="titulo">{{ titulo | titlecase }}</h3>
      <mat-divider></mat-divider>
      <article class="contenido">
        <!-- codigo -->
        <mat-form-field appearance="fill" class="codigo">
          <mat-label>Codigo</mat-label>
          <input type="text" matInput formControlName="codigo" />
          <button type="button" matSuffix (click)="nuevo()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- denominacion -->
        <mat-form-field appearance="fill" class="denominacion">
          <mat-label>Denominacion</mat-label>
          <input type="text" matInput formControlName="denominacion" />
        </mat-form-field>
        <!-- tipo -->
        <mat-form-field appearance="fill" class="tipo">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="tipo">
            <mat-option
              *ngFor="let tipoComponente of tiposComponente() | async"
              [value]="tipoComponente.id"
              >{{tipoComponente.denominacion}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <!-- marca -->
        <mat-form-field appearance="fill" class="marca">
          <mat-label>Marca</mat-label>
          <mat-select formControlName="marcaId">
            <mat-option
              *ngFor="let marca of marcas() | async"
              [value]="marca.id"
              >{{marca.denominacion}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <!-- modelo -->
        <mat-form-field appearance="fill" class="modelo">
          <mat-label>Modelo</mat-label>
          <mat-select formControlName="modeloId">
            <mat-option
              *ngFor="let modelo of modelos() | async"
              [value]="modelo.id"
              >{{modelo.denominacion}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </article>
    </mat-card>
  </form>
</section>
