<section class="outside">
  <!-- encabezado -->
  <mat-card>
    <article>
      <span>{{ titulo }}</span>
    </article>
  </mat-card>

  <!-- datos -->
  <mat-card>
    <mat-card-title class="titulo">{{ titulo | titlecase }}</mat-card-title>
    <mat-divider></mat-divider>
    <form [formGroup]="activoComponenteForm">
      <article class="contenido">
        <!-- codigo -->
        <mat-form-field appearance="fill" class="codigo">
          <mat-label>Codigo</mat-label>
          <input type="text" matInput formControlName="codigo" />
          <button type="button" matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- denominacion -->
        <mat-form-field appearance="fill" class="denominacion">
          <mat-label>Denominacion</mat-label>
          <input type="text" matInput formControlName="denominacion" />
        </mat-form-field>
        <!-- tipo -->
        <mat-form-field appearance="fill" class="tipo">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="tipo">
            <mat-option
              *ngFor="let tipoComponente of tiposComponente() | async"
              [value]="tipoComponente.id"
              >{{ tipoComponente.denominacion }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <!-- marca -->
        <mat-form-field appearance="fill" class="marca">
          <mat-label>Marca</mat-label>
          <input type="text" matInput formControlName="marca" />
          <button type="button" matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- modelo -->
        <mat-form-field appearance="fill" class="modelo">
          <mat-label>Modelo</mat-label>
          <input type="text" matInput formControlName="modelo" />
          <button type="button" matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </article>
    </form>
  </mat-card>
</section>
<app-toolbar></app-toolbar>
