<section class="contenedor-reporte" #comprobanteIncorporacion>
  <mat-card *ngIf="empresa">
    <section class="contenido-reporte">
      <section class="encabezado">
        <!-- datos empresa -->
        <article class="empresa">
          <span class="nombre">
            {{ empresa.nombre }} ({{ empresa.nombreAbreviado }})
            {{ empresa.rif }}
          </span>
          <p>{{ empresa.direccion }}</p>
          <p>Teléfono: {{ empresa.telefono }} Fax:{{ empresa.fax }}</p>
          <p>Correo electrónico: {{ empresa.correoElectronico }}</p>
        </article>
        <span class="espaciador"></span>
        <!-- encabezado proceso -->
        <article class="procesoEncabezado" *ngIf="proceso">
          <p class="comprobante">
            Comprobante de {{ tipoProceso | titlecase }} No.{{
              proceso.comprobante | corregirCodigo
            }}
          </p>
          <p class="fecha">
            Fecha de emisión: {{ proceso.creado | date : 'longDate' }}
          </p>
          <p class="hora">
            Hora de emisión: {{ proceso.creado | date : 'mediumTime' }}
          </p>
        </article>
      </section>
      <!-- datos proceso -->
      <section *ngIf="proceso" class="proceso">
        <article class="causaMovimiento">
          <label for="causaMovimiento">Causa de movimiento</label>
          <p #causaMovimiento>
            {{ proceso.causaMovimiento | denominacionCausaMovimiento | async }}
          </p>
        </article>
        <article class="unidadAdministrativa">
          <label for="unidadAdministrativa">Unidad administrativa</label>
          <p #unidadAdministrativa>
            {{
              proceso.unidadAdministrativa
                | denominacionUnidadAdministrativa
                | async
            }}
          </p>
        </article>
        <article class="sede">
          <label for="sede">Sede</label>
          <p #sede>{{ proceso.sede | denominacionSede | async }}</p>
        </article>
        <article class="fechaEntrega">
          <label for="fechaEntrega">Fecha de entrega</label>
          <p #fechaEntrega>{{ proceso.fechaEntrega | date : 'longDate' }}</p>
        </article>
        <article class="responsablePrimario">
          <label for="responsablePrimario">Responsable primario</label>
          <p #responsablePrimario>
            {{
              proceso.responsablePrimario
                | denominacionResponsable
                | async
                | titlecase
            }}
          </p>
        </article>
        <article class="responsableUso">
          <label for="responsableUso">Responsable de uso</label>
          <p #responsableUso>
            {{
              proceso.responsableUso
                | denominacionResponsable
                | async
                | titlecase
            }}
          </p>
        </article>
        <article class="observaciones">
          <label for="observaciones">observaciones</label>
          <p #observaciones>{{ proceso.observaciones }}</p>
        </article>
      </section>
      <!-- activos proceso -->

      <!-- tabla activos -->
      <table mat-table [dataSource]="dataSource" class="table">
        <!-- codigo -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>Código</th>
          <td mat-cell *matCellDef="let row">
            {{ row.codigo | corregirCodigo }}
          </td>
        </ng-container>
        <!-- denominacion -->
        <ng-container matColumnDef="denominacion">
          <th mat-header-cell *matHeaderCellDef>Denominación</th>
          <td mat-cell *matCellDef="let row">{{ row.denominacion }}</td>
        </ng-container>
        <!-- tipoActivo -->
        <ng-container matColumnDef="tipoActivo">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let row">
            {{ row.tipoActivo | denominacionTipoActivo | titlecase }}
          </td>
        </ng-container>
        <!-- creado -->
        <ng-container matColumnDef="creado">
          <th mat-header-cell *matHeaderCellDef>Creado</th>
          <td mat-cell *matCellDef="let row">
            {{ row.creado | date : 'medium' }}
          </td>
        </ng-container>
        <!-- modificado -->
        <ng-container matColumnDef="modificado">
          <th mat-header-cell *matHeaderCellDef>Modificado</th>
          <td mat-cell *matCellDef="let row">
            {{ row.modificado | date : 'medium' }}
          </td>
        </ng-container>

        <!-- ejecuta el armado de la tabla -->
        <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: columnasVisibles"
          class="row-hover"></tr>

        <!-- mostrar cuando no hay datos que coincidan -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">No hay datos para mostrar</td>
        </tr>
      </table>
      <footer>
        <app-pie-reporte></app-pie-reporte>
      </footer>
    </section>
  </mat-card>
</section>
