<form [formGroup]="formulario">
  <section class="contenido">
    <!-- aviso depreciable -->
    <article
      class="avisoDepreciable"
      *ngIf="
        formulario.value.depreciable === 1 ||
        formulario.value.depreciable === true
      ">
      <ng-container *ngIf="activoDepreciable(); else noDepreciable">
        <span class="depreciable-sub">Este activo es depreciable </span>
        <mat-icon class="depreciable-sub">check</mat-icon>
      </ng-container>
      <ng-template #noDepreciable
        ><span class="noDepreciable-sub"
          >Este activo aun no es depreciable, llene todos los campos para
          hacerlo depreciable.</span
        >
        <p class="nota" *ngIf="!valorMonedaAsignados()">
          En la pestaña <span class="negritas">Datos Generales</span>, debe
          asignar valores a los campos
          <span class="negritas"> Valor de Adquisición </span> y
          <span class="negritas">Moneda</span>
        </p>
      </ng-template>
    </article>
    <article class="depreciable">
      <!-- depreciable -->
      <mat-slide-toggle formControlName="depreciable"
        >Depreciable</mat-slide-toggle
      >
      <!-- generar depreciacion -->
      <ng-container *ngTemplateOutlet="generarDepreciacion"> </ng-container>
    </article>
    <!-- plantilla de depreciacion -->

    <!-- metodo depreciacion -->
    <mat-form-field appearance="fill" class="metodoDepreciacion">
      <mat-label>Método de depreciación</mat-label>
      <mat-select formControlName="metodoDepreciacion">
        <mat-option value="">Seleccionar</mat-option>
        <mat-option
          *ngFor="let metodo of metodosDepreciacion"
          [value]="metodo.substring(0, 3)"
          >{{ metodo | titlecase }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <!-- vida util  -->
    <mat-form-field appearance="fill" class="vidaUtil">
      <mat-label>Vida útil</mat-label>
      <input type="number" matInput formControlName="vidaUtil" />
    </mat-form-field>
    <!-- unidad vida util -->
    <mat-form-field appearance="fill" class="unidadVidaUtil">
      <mat-label>Unidad vida útil</mat-label>
      <mat-select formControlName="unidadVidaUtil">
        <mat-option value="">Seleccionar</mat-option>
        <mat-option *ngFor="let unidad of unidadesTiempo" [value]="unidad">{{
          unidad | titlecase
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- cuenta contable del gasto -->
    <mat-form-field appearance="fill" class="cuentaContableGasto">
      <mat-label>Cuenta de gasto</mat-label>
      <input
        type="text"
        matInput
        formControlName="cuentaContableGasto"
        readonly="true"
        [value]="
          formulario.value.cuentaContableGasto
            | denominacionCuentaContable
            | async
            | corregirSeleccionar
        " />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarCuentaContableGasto()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- cuenta contable de depreciacion -->
    <mat-form-field appearance="fill" class="cuentaContableDepreciacion">
      <mat-label>Cuenta de depreciación</mat-label>
      <input
        type="text"
        matInput
        formControlName="cuentaContableDepreciacion"
        readonly="true"
        [value]="
          formulario.value.cuentaContableDepreciacion
            | denominacionCuentaContable
            | async
            | corregirSeleccionar
        " />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarCuentaContableDepreciacion()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- valor rescate  -->
    <mat-form-field appearance="fill" class="valorRescate">
      <mat-label>Valor de rescate</mat-label>
      <input type="number" matInput formControlName="valorRescate" />
    </mat-form-field>
    <!-- valor rescate moneda id  -->
    <mat-form-field appearance="fill" class="monedaValorRescate">
      <mat-label>Moneda</mat-label>
      <input
        type="text"
        matInput
        formControlName="monedaValorRescate"
        readonly="true"
        [value]="
          formulario.value.monedaValorRescate
            | denominacionMoneda
            | async
            | corregirSeleccionar
        " />
      <button type="button" mat-icon-button matSuffix (click)="buscarMoneda()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </section>
</form>

<ng-template #generarDepreciacion>
  <form [formGroup]="formularioEspecial">
    <section *ngIf="mostrarGenerarDepreciacion()">
      <mat-slide-toggle formControlName="generarDepreciacion"
        >Generar depreciacion al guardar</mat-slide-toggle
      >
    </section>
  </form>
</ng-template>
