<form [formGroup]="formulario">
  <section class="contenido">
    <!-- depreciable -->
    <mat-slide-toggle formControlName="depreciable" class="depreciable"
      >Depreciable</mat-slide-toggle
    >
    <!-- plantilla de depreciacion -->
    <mat-form-field appearance="fill" class="plantillaDepreciacion">
      <mat-label>Plantilla de depreciación</mat-label>
      <input type="text" matInput formControlName="plantillaDepreciacion" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarPlantillaDepreciacion()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- metodo depreciacion -->
    <mat-form-field appearance="fill" class="metodoDepreciacion">
      <mat-label>Método de depreciación</mat-label>
      <mat-select formControlName="metodoDepreciacion">
        <mat-option
          *ngFor="let metodo of metodosDepreciacion"
          [value]="metodo"
          >{{ metodo | titlecase }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <!-- cuenta contable del gasto -->
    <mat-form-field appearance="fill" class="cuentaContableGasto">
      <mat-label>Cuenta contable del gasto</mat-label>
      <input type="text" matInput formControlName="cuentaContableGasto" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarCuentaContableGasto()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- cuenta contable de depreciacion -->
    <mat-form-field appearance="fill" class="cuentaContableDepreciacion">
      <mat-label>Cuenta contable de depreciación</mat-label>
      <input
        type="text"
        matInput
        formControlName="cuentaContableDepreciacion" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarCuentaContableDepreciacion()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- vida util  -->
    <mat-form-field appearance="fill" class="vidaUtil">
      <mat-label>Vida útil</mat-label>
      <input type="text" matInput formControlName="vidaUtil" />
    </mat-form-field>
  </section>
</form>
