<form [formGroup]="formulario">
  <section class="contenedor-singular">
    <!-- encabezado -->
    <app-encabezado-definicion
      [titulo]="titulo"
      [creado]="formulario.value.creado"
      [modificado]="formulario.value.modificado"></app-encabezado-definicion>
    <!-- datos -->
    <mat-card>
      <article class="contenido">
        <!-- codigo -->
        <mat-form-field appearance="fill" class="codigo">
          <mat-label>Código</mat-label>
          <input type="text" matInput formControlName="codigo" />
        </mat-form-field>
        <!-- denominacion -->
        <mat-form-field appearance="fill" class="denominacion">
          <mat-label>Denominación</mat-label>
          <input type="text" matInput formControlName="denominacion" />
        </mat-form-field>
        <!-- tipo -->
        <mat-form-field appearance="fill" class="tipo">
          <mat-label>Tipo</mat-label>
          <input type="text" matInput formControlName="tipo" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarTipoComponente()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- marca -->
        <mat-form-field appearance="fill" class="marcaId">
          <mat-label>Marca</mat-label>
          <input type="text" matInput formControlName="marcaId" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarMarca()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- modelo -->
        <mat-form-field appearance="fill" class="modeloId">
          <mat-label>Modelo</mat-label>
          <input type="text" matInput formControlName="modeloId" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarModelo()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </article>
    </mat-card>
    <!-- botones -->
  </section>
</form>
<!-- barra de herramientas lateral -->
<app-toolbar
  (importar)="importar()"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  [desabilitarGuardar]="formulario.invalid"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  [mostrarImprimir]="false"
  [mostrarSalir]="false"></app-toolbar>
