<mat-card>
  <article class="encabezado">
    <p class="titulo">Cuentas Contables</p>
    <span class="espaciador"></span>
    <button
      type="button"
      mat-stroked-button
      color="primary"
      class="agregarCuentaContable"
      (click)="agregarCuentaContable.emit()"
      [disabled]="agregarCuentaContableDeshabilitado"
      *ngIf="agregarCuentaContableVisible">
      <mat-icon>add</mat-icon>
      Agregar cuenta contable
    </button>
  </article>
  <!-- tabla cuentas -->
  <table mat-table [dataSource]="dataSource" class="tabla">
    <!-- cuentaProceso -->
    <ng-container matColumnDef="cuentaProceso">
      <th mat-header-cell *matHeaderCellDef>Cuenta Contable</th>
      <td mat-cell *matCellDef="let row">{{ row.cuentaContable }}</td>
    </ng-container>
    <!-- denominacion -->
    <ng-container matColumnDef="denominacion">
      <th mat-header-cell *matHeaderCellDef>Denominación</th>
      <td mat-cell *matCellDef="let row">{{ row.denominacion }}</td>
    </ng-container>
    <!-- debe -->
    <ng-container matColumnDef="debe">
      <th mat-header-cell *matHeaderCellDef>Debe</th>
      <td mat-cell *matCellDef="let row">
        {{ (row.procedencia === 'D' ? row.monto : 0) | number : '1.2-2' }}
      </td>
    </ng-container>
    <!-- haber -->
    <ng-container matColumnDef="haber">
      <th mat-header-cell *matHeaderCellDef>Haber</th>
      <td mat-cell *matCellDef="let row">
        {{ (row.procedencia === 'H' ? row.monto : 0) | number : '1.2-2' }}
      </td>
    </ng-container>

    <!-- ejecuta el armado de la tabla -->
    <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnasVisibles"
      class="row-hover"></tr>

    <!-- mostrar cuando no hay datos que coincidan -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay datos para mostrar</td>
    </tr>
  </table></mat-card
>
