<section class="contenedor-singular">
  <!-- encabezado -->
  <app-encabezado-definicion
    [titulo]="titulo"
    [creado]="formularioDatosGenerales.value.creado"
    [modificado]="
      formularioDatosGenerales.value.modificado
    "></app-encabezado-definicion>

  <!-- datos -->
  <mat-card>
    <!-- grupo de paneles -->
    <mat-tab-group mat-align-tabs="end">
      <mat-tab *ngFor="let tab of tabLabels" [label]="tab | titlecase">
        <article class="tab-activo">
          <ng-container [ngSwitch]="tab">
            <app-activo-datos-generales
              *ngSwitchCase="'datos generales'"
              [formulario]="
                formularioDatosGenerales
              "></app-activo-datos-generales>
            <app-activo-detalles
              *ngSwitchCase="'detalles'"
              [formulario]="formularioDetalles"
              [tipoActivo]="
                formularioDatosGenerales.value.tipoActivo
              "></app-activo-detalles>
            <app-activo-componentes
              *ngSwitchCase="'componentes'"
              [formulario]="formularioComponentes"></app-activo-componentes>
            <app-activo-depreciacion
              *ngSwitchCase="'depreciación'"
              [formulario]="formularioDepreciacion"
              [formularioEspecial]="formularioEspecial"
              [formularioDatosGenerales]="formularioDatosGenerales"
              [modoFormulario]="modoFormulario"></app-activo-depreciacion>
            <app-activo-ubicacion
              *ngSwitchCase="'ubicación'"
              [formulario]="formularioUbicacion"
              [formularioEspecial]="formularioEspecial"
              [modoFormulario]="modoFormulario"></app-activo-ubicacion>
          </ng-container>
        </article>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</section>
<!-- barra de herramientas lateral -->
<app-toolbar
  (importar)="importar()"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  [desabilitarGuardar]="formularioDatosGenerales.invalid"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  [mostrarBuscar]="false"
  [mostrarSalir]="false"></app-toolbar>
