<section class="contenedor-singular">
  <!-- encabezado -->
  <app-encabezado-definicion [titulo]="titulo"></app-encabezado-definicion>

  <!-- datos -->
  <mat-card>
    <!-- grupo de paneles -->
    <mat-tab-group mat-align-tabs="end">
      <mat-tab *ngFor="let tab of tabLabels" [label]="tab | titlecase">
        <article class="tab-activo">
          <ng-container [ngSwitch]="tab">
            <app-activo-componentes
              *ngSwitchCase="'componentes'"
              [formulario]="formularioComponentes"></app-activo-componentes>
            <app-activo-datos-generales
              *ngSwitchCase="'datos generales'"
              [formulario]="
                formularioDatosGenerales
              "></app-activo-datos-generales>
            <app-activo-depreciacion
              *ngSwitchCase="'depreciación'"
              [formulario]="formularioDepreciacion"></app-activo-depreciacion>
            <app-activo-documentacion
              *ngSwitchCase="'documentación'"
              [formulario]="formularioDocumentacion"></app-activo-documentacion>
            <app-activo-responsable
              *ngSwitchCase="'responsable'"
              [formulario]="formularioResponsable"></app-activo-responsable>
            <app-activo-origen
              *ngSwitchCase="'origen'"
              [formulario]="formularioOrigen"></app-activo-origen>
            <app-activo-seguro
              *ngSwitchCase="'seguro'"
              [formulario]="formularioSeguro"></app-activo-seguro>
            <app-activo-ubicacion
              *ngSwitchCase="'ubicación'"
              [formulario]="formularioUbicacion"></app-activo-ubicacion>
          </ng-container>
        </article>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</section>
<!-- barra de herramientas lateral -->
<app-toolbar
  (importar)="importar()"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  [desabilitarGuardar]="deshabilitarGuardar() || true"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  [mostrarImprimir]="false"
  [mostrarSalir]="false"></app-toolbar>
