<section class="contenedor-singular superior">
  <!-- encabezado -->
  <app-encabezado-reportes
    [titulo]="titulo"
    [fechaEmision]="fechaEmision"></app-encabezado-reportes>
</section>
<section class="contenedor-singular inferior superior">
  <app-propiedades-activo></app-propiedades-activo>
</section>
<section class="contenedor-singular inferior superior">
  <app-rango-fechas
    [formulario]="formularioRangoFechas"
    class="rangoFechas"></app-rango-fechas>
</section>
<section class="contenedor-singular inferior">
  <app-tabla-activo
    [ocultarEncabezado]="true"
    [columnasVisibles]="columnasVisibles"></app-tabla-activo>
</section>
<app-toolbar [mostrarImportar]="false"></app-toolbar>
