<app-encabezado-definiciones
  [titulo]="titulo"
  [ocultarNuevo]="ocultarNuevo"
  (nuevo)="nuevo()"
  (filtrarDatos)="filtrar($event)"
  (limpiarBuscadorEvento)="filtrar($event)"
  [hidden]="ocultarEncabezado"></app-encabezado-definiciones>
<mat-card class="card-table">
  <!-- tabla -->
  <table mat-table [dataSource]="dataSource" class="table" matSort>
    <!-- comprobante -->
    <ng-container matColumnDef="comprobante">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Comprobante</th>
      <td mat-cell *matCellDef="let row">
        {{ row.comprobante | corregirCodigo }}
      </td>
    </ng-container>
    <!-- unidadAdministrativaCedente -->
    <ng-container matColumnDef="unidadAdministrativaCedente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Unidad administrativa cedente
      </th>
      <td mat-cell *matCellDef="let row">
        {{
          row.unidadAdministrativaCedente
            | denominacionUnidadAdministrativa
            | async
        }}
      </td>
    </ng-container>
    <!-- unidadAdministrativaReceptora -->
    <ng-container matColumnDef="unidadAdministrativaReceptora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Unidad administrativa receptora
      </th>
      <td mat-cell *matCellDef="let row">
        {{
          row.unidadAdministrativaReceptora
            | denominacionUnidadAdministrativa
            | async
        }}
      </td>
    </ng-container>
    <!-- creado -->
    <ng-container matColumnDef="creado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Creado</th>
      <td mat-cell *matCellDef="let row">
        {{ row.creado | date : 'medium' }}
      </td>
    </ng-container>
    <!-- modificado -->
    <ng-container matColumnDef="modificado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificado</th>
      <td mat-cell *matCellDef="let row">
        {{ row.modificado | date : 'medium' }}
      </td>
    </ng-container>

    <!-- acciones-proceso -->
    <ng-container matColumnDef="acciones-proceso">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <app-botones-acciones-proceso
          (editar)="editar(row)"
          (eliminar)="eliminar(row)"
          (imprimir)="imprimir(row)"></app-botones-acciones-proceso>
      </td>
    </ng-container>

    <!-- ejecuta el armado de la tabla -->
    <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnasVisibles"
      class="row-hover"
      (dblclick)="dobleClick.emit(row)"></tr>

    <!-- mostrar cuando no hay datos que coincidan -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No hay datos para mostrar que concidan con la busqueda "{{
          dataSource.filter
        }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    *ngIf="activarPaginacion"
    [length]="dataSource.data.length"
    [pageSize]="itemsPorPagina"
    [showFirstLastButtons]="mostrarBotonesInicioFinal"
    [pageSizeOptions]="opcionesPaginacion"
    [hidePageSize]="!mostrarOpcionesPaginacion">
  </mat-paginator>
</mat-card>
