<form [formGroup]="formSede" class="card-content-form-datos">
    <mat-form-field>
        <mat-label>Código</mat-label>
        <input matInput type="text"  matInput formControlName= "codigo"  
        maxlength= "2" required 
        [readonly]="idSeat>0">
        <mat-error *ngIf="formSede.controls['codigo'].hasError('required')">El valor es obligatorio</mat-error>
    </mat-form-field>     
    
    <mat-form-field >
        <mat-label>Tipo de Sede</mat-label>
        <mat-select formControlName="tipoSede" >
            <mat-option *ngFor="let type of allSeatTypes" [value]="type.id">
                {{type.denominacion}}
              </mat-option>
        </mat-select>
      </mat-form-field>   

    <mat-form-field class= "descripcion">
        <mat-label>Descripción de la Sede</mat-label>
        <input matInput type="text"  matInput formControlName= "denominacion" maxlength= "256" minlength="5" required >
        <mat-error *ngIf="formSede.controls['denominacion'].hasError('required')">El valor es obligatorio</mat-error>
    </mat-form-field>  

    <div class="descripcion">
      <mat-radio-group formControlName="localizacion" class="radio" requerid>
           <mat-radio-button value="N" class="radio">Nacional</mat-radio-button>
           <mat-radio-button value="I" class="radio">Internacional</mat-radio-button>
         </mat-radio-group>                  
    </div> 
       
    <mat-form-field >
        <mat-label>País</mat-label>
        <mat-select formControlName="pais" (selectionChange)="getStates($event)">
            <mat-option *ngFor="let pais of countries" [value]="pais.code" >
                {{pais.name}}
              </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field >
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado" [disabled]="!formSede.get('pais').value" >
          <mat-option *ngFor="let est of states" [value]="est.code" >
              {{est.name}}
            </mat-option>
      </mat-select>
  </mat-form-field>             

    <mat-form-field >
        <mat-label>Municipio</mat-label>
        <mat-select formControlName="municipio" [disabled]="!formSede.get('estado').value" >
            <mat-option *ngFor="let mun of municipality" [value]="mun.code" >
                {{mun.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field >
    <mat-label>Parroquia</mat-label>
    <mat-select formControlName="parroquia" [disabled]="!formSede.get('municipio').value">
        <mat-option *ngFor="let par of pariches" [value]="par.code">
            {{par.name}}
        </mat-option>
    </mat-select>
    </mat-form-field>

    <mat-form-field >
    <mat-label>Ciudad</mat-label>
    <mat-select formControlName="ciudad" [disabled]="!formSede.get('estado').value">
        <mat-option *ngFor="let cit of cities" [value]="cit.codciu" >
            {{cit.desciu}}
        </mat-option>
    </mat-select>
    </mat-form-field>

    <mat-form-field class= "descripcion">
    <mat-label>Urbanización</mat-label>
    <input matInput type="text"  matInput formControlName= "urbanizacion" maxlength= "60" minlength="3">
    </mat-form-field>

    <mat-form-field class= "descripcion">
    <mat-label>Calle/Avenida</mat-label>
    <input matInput type="text"  matInput formControlName= "calle" maxlength= "60" minlength="1">
    </mat-form-field>

    <mat-form-field>
    <mat-label>Casa/Edificio</mat-label>
    <input matInput type="text"  matInput formControlName= "casa" maxlength= "60" minlength="1">
    </mat-form-field>

    <mat-form-field >
    <mat-label>piso</mat-label>
    <input matInput type="text"  matInput formControlName= "piso" maxlength= "6" minlength="1">
    </mat-form-field>  
    
</form>

