<form [formGroup]="formulario">
  <section class="contenedor-singular superior">
    <app-encabezado-procesos
      [titulo]="titulo"
      [numeroComprobante]="formulario.value.comprobante | corregirCodigo"
      [creado]="formulario.value.creado"
      [modificado]="formulario.value.modificado"></app-encabezado-procesos>
    <mat-card>
      <article class="contenido">
        <!-- unidadAdministrativaCedente -->
        <mat-form-field appearance="fill" class="unidadAdministrativaCedente">
          <mat-label>Unidad administrativa cedente</mat-label>
          <input
            matInput
            formControlName="unidadAdministrativaCedente"
            readonly="true"
            [value]="
              formulario.value.unidadAdministrativaCedente
                | denominacionUnidadAdministrativa
                | async
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarUnidadAdministrativaCedente()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- unidadCedenteResponsable -->
        <mat-form-field appearance="fill" class="unidadCedenteResponsable">
          <mat-label>Responsable unidad administrativa cedente</mat-label>
          <input
            matInput
            formControlName="unidadCedenteResponsable"
            readonly="true"
            [value]="
              formulario.value.unidadCedenteResponsable
                | denominacionResponsable
                | async
                | titlecase
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarResponsableUnidadCedente()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- unidadAdministrativaReceptora -->
        <mat-form-field appearance="fill" class="unidadAdministrativaReceptora">
          <mat-label>Unidad administrativa receptora</mat-label>
          <input
            matInput
            formControlName="unidadAdministrativaReceptora"
            readonly="true"
            [value]="
              formulario.value.unidadAdministrativaReceptora
                | denominacionUnidadAdministrativa
                | async
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarUnidadAdministrativaReceptora()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- unidadReceptoraResponsable -->
        <mat-form-field appearance="fill" class="unidadReceptoraResponsable">
          <mat-label>Responsable unidad administrativa receptora</mat-label>
          <input
            matInput
            formControlName="unidadReceptoraResponsable"
            readonly="true"
            [value]="
              formulario.value.unidadReceptoraResponsable
                | denominacionResponsable
                | async
                | titlecase
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarResponsableUnidadReceptora()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- testigo -->
        <mat-form-field appearance="fill" class="testigo">
          <mat-label>Testigo</mat-label>
          <input
            matInput
            formControlName="testigo"
            readonly="true"
            [value]="
              formulario.value.testigo
                | denominacionResponsable
                | async
                | titlecase
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarTestigo()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- notas -->
        <mat-form-field appearance="fill" class="notas">
          <mat-label>Notas</mat-label>
          <textarea matInput rows="2" formControlName="notas"></textarea>
        </mat-form-field>
      </article>
    </mat-card>
  </section>
</form>
<section class="contenedor-singular inferior">
  <app-activos-proceso
    [dataSource]="dataSource"
    [agregarActivoDeshabilitado]="formulario.invalid"
    (agregarActivo)="agregarActivo()"
    (removerActivo)="eliminarActivo($event)"></app-activos-proceso>
</section>
<!-- barra de herramientas lateral -->
<app-toolbar
  (buscar)="buscar()"
  (importar)="importar()"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  [desabilitarGuardar]="!formularioActivo()"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  [mostrarImprimir]="false"
  [mostrarSalir]="false"></app-toolbar>
