<form [formGroup]="formulario">
  <section class="contenedor-singular superior">
    <app-encabezado-procesos
      [titulo]="titulo"
      [numeroComprobante]="formulario.value.comprobante | corregirCodigo"
      [creado]="formulario.value.creado"
      [modificado]="formulario.value.modificado"></app-encabezado-procesos>
    <mat-card>
      <article class="contenido">
        <!-- unidadAdministrativaCedente -->
        <mat-form-field appearance="fill" class="unidadAdministrativaCedente">
          <mat-label>Unidad administrativa cedente</mat-label>
          <input
            type="text"
            matInput
            formControlName="unidadAdministrativaCedente"
            readonly="true"
            [value]="
              formulario.value.unidadAdministrativaCedente
                | denominacionUnidadAdministrativa
                | async
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarUnidadAdministrativaCedente()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- unidadCedenteResponsable -->
        <mat-form-field appearance="fill" class="unidadCedenteResponsable">
          <mat-label>Responsable unidad administrativa cedente</mat-label>
          <input
            type="text"
            matInput
            formControlName="unidadCedenteResponsable"
            readonly="true"
            [value]="formulario.value.unidadCedenteResponsable" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarResponsableUnidadCedente()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- unidadAdministrativaReceptora -->
        <mat-form-field appearance="fill" class="unidadAdministrativaReceptora">
          <mat-label>Unidad administrativa receptora</mat-label>
          <input
            type="text"
            matInput
            formControlName="unidadAdministrativaReceptora"
            readonly="true"
            [value]="
              formulario.value.unidadAdministrativaReceptora
                | denominacionUnidadAdministrativa
                | async
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarUnidadAdministrativaReceptora()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- unidadReceptoraResponsable -->
        <mat-form-field appearance="fill" class="unidadReceptoraResponsable">
          <mat-label>Responsable unidad administrativa receptora</mat-label>
          <input
            type="text"
            matInput
            formControlName="unidadReceptoraResponsable"
            readonly="true"
            [value]="formulario.value.unidadReceptoraResponsable" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarResponsableUnidadReceptora()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- testigo -->
        <mat-form-field appearance="fill" class="testigo">
          <mat-label>Testigo</mat-label>
          <input
            type="text"
            matInput
            formControlName="testigo"
            readonly="true"
            [value]="formulario.value.testigo" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarTestigo()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- notas -->
        <mat-form-field appearance="fill" class="notas">
          <mat-label>Notas</mat-label>
          <textarea matInput rows="2" formControlName="notas"></textarea>
        </mat-form-field>
      </article>
    </mat-card>
  </section>
</form>
<section class="contenedor-singular inferior">
  <mat-card>
    <article class="flex">
      <p class="titulo">Activos</p>
      <span class="spacer"></span>
      <button
        type="button"
        mat-stroked-button
        color="primary"
        class="agregarActivo"
        (click)="agregarActivo()">
        <mat-icon>add</mat-icon>
        Agregar activo
      </button>
    </article>
    <!-- tabla activos -->
    <table mat-table [dataSource]="dataSource" class="table" matSort>
      <!-- codigo -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
        <td mat-cell *matCellDef="let row">{{ row.codigo }}</td>
      </ng-container>
      <!-- denominacion -->
      <ng-container matColumnDef="denominacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Denominación</th>
        <td mat-cell *matCellDef="let row">{{ row.denominacion }}</td>
      </ng-container>
      <!-- tipoActivo -->
      <ng-container matColumnDef="tipoActivo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
        <td mat-cell *matCellDef="let row">{{ row.tipoActivo }}</td>
      </ng-container>
      <!-- creado -->
      <ng-container matColumnDef="creado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Creado</th>
        <td mat-cell *matCellDef="let row">
          {{ row.creado | date : 'medium' }}
        </td>
      </ng-container>
      <!-- modificado -->
      <ng-container matColumnDef="modificado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificado</th>
        <td mat-cell *matCellDef="let row">
          {{ row.modificado | date : 'medium' }}
        </td>
      </ng-container>
      <!-- acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <app-botones-acciones
            (eliminar)="eliminarActivo(row)"></app-botones-acciones>
        </td>
      </ng-container>

      <!-- ejecuta el armado de la tabla -->
      <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnasVisibles"
        class="row-hover"></tr>

      <!-- mostrar cuando no hay datos que coincidan -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se han agregado activos al acta</td>
      </tr>
    </table>
  </mat-card>
</section>
<!-- barra de herramientas lateral -->
<app-toolbar
  (importar)="importar()"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  [desabilitarGuardar]="formulario.invalid"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  [mostrarImprimir]="false"
  [mostrarSalir]="false"></app-toolbar>
