<div class="pageContent">
    <mat-card>
      <mat-card-header class="card-header">      
        <mat-card-title>
            Estructura Predominantes de los Inmuebles  
        </mat-card-title>
      </mat-card-header>
  
      <mat-divider></mat-divider>
      <mat-card-content class="card-content">
            <div class="form-group">
              <form [formGroup]="formEstructura" class="card-content-form-datos">  
                <mat-form-field>
                  <mat-label>Código </mat-label>
                  <input type="text" formControlName="codigo" name="codigo" matInput  
                    minlength="3" maxlength="4" 
                    (blur)="validarCodigo($event)"
                    [readonly]="idEstructura>=0">
                  <mat-error *ngIf="formEstructura.controls['codigo'].errors?.minlength" class="invalid-feedback">Deben ser 4
                    caracteres mínimo</mat-error>
                </mat-form-field>
  
                <mat-form-field class="descripcion">
                  <mat-label>Denominación</mat-label>
                  <input type="text" formControlName="denominacion" matInput maxlength="100"
                  [readonly]="idEstructura==0">
                    <mat-error *ngIf="formEstructura.controls['denominacion'].hasError('required')">El valor es obligatorio</mat-error>
                </mat-form-field>            
            

            <mat-form-field class="apertura">
              <mat-label>Filtrar</mat-label>
              <input  [readonly]="idEstructura==0" matInput (keyup)="aplicarFiltro($event.target.value)"
              >
            </mat-form-field>
  
            <div class="nuevodetalle descripcion">   
                <button 
                  mat-raised-button color="primary" (click)="addComponent()" [disabled]="!formEstructura.get('denominacion').valid || idEstructura==0">Agregar Componente
                  <mat-icon matSuffix>add</mat-icon>
                </button>          
                <button mat-raised-button color="primary" (click)="deleteComponentes()" [disabled]="selection.selected.length==0 || idEstructura==0">Eliminar Componente
                      <mat-icon matSuffix>remove</mat-icon>
                </button>                 
            </div>  

            <div class="tableContainer descripcion" >                   
              <table mat-table #table [dataSource]="componentesEstructura" border="0" class="table">
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef class="prueba2">
                    <mat-checkbox (change)="$event ? SeleccionTodo() : null"
                                  [checked]="selection.hasValue() && TodasSeleccionadas()"
                                  [indeterminate]="selection.hasValue() && !TodasSeleccionadas()"
                                  [aria-label]="checkboxLabel()"
                    >
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row; let element; let i = index">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel()"                                      
                    >
                    </mat-checkbox>
                  </td>
                </ng-container>
      
                <ng-container matColumnDef="codigo">
                  <th mat-header-cell *matHeaderCellDef class="prueba"> Código </th>
                  <td mat-cell *matCellDef="let element; let i=index"> 
                    {{element.codigoComponenteEstructura}}
                  </td>
                </ng-container>
      
                <ng-container matColumnDef="denominacion">
                  <th mat-header-cell *matHeaderCellDef> Denominación </th>
                  <td mat-cell *matCellDef="let element; let i=index"> 
                    <input matInput 
                      (blur)="modificarDetalle($event, i, 'denominacionComponenteEstructura')" 
                      value="{{element.denominacionComponenteEstructura}}"
                      [readonly]="idEstructura==0"
                    >
                  </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    class="row"
                    [ngClass]="{isNew: row.isNew}">
                </tr>  
              </table>         
         </div>
       
              </form>
            </div>
      </mat-card-content>
    </mat-card>
  </div>
  
  <toolbar
        (crear)="inicializar()"
        (buscar)="openCatalogo()"
        (guardar)="newStructure()"
        (borrar)="deleteEstructure()"
        (salir)="exit()"
        [desabilitarImprimir]="true"
        [desabilitarBuscar]="allPredominantStructure.length==0"  
        [desabilitarBorrar]="!this.formEstructura.valid  || operacion!='actualizar' || idEstructura==0"  
        [desabilitarGuardar]="!this.formEstructura.valid || componentesEstructura.data.length==0 || idEstructura==0"     
    >
  </toolbar>
  
  
