<section class="contenedor-singular superior">
  <app-encabezado-reportes
    [titulo]="titulo"
    [fechaEmision]="fechaEmision"></app-encabezado-reportes>
</section>
<section class="contenedor-singular inferior superior">
  <app-filtro-rango-fechas
    [formulario]="formularioRangoFechas"></app-filtro-rango-fechas>
</section>
<section class="contenedor-singular inferior">
  <app-lista-depreciaciones
    [dataSource]="dataSource"
    [columnasVisibles]="columnasVisibles"></app-lista-depreciaciones>
</section>
<app-toolbar
  [mostrarImportar]="false"
  [mostrarBorrar]="false"
  [mostrarBuscar]="false"
  [mostrarSalir]="false"
  (guardar)="guardar()"
  [desabilitarGuardar]="dataSource.data.length === 0"></app-toolbar>
