<form [formGroup]="formulario">
  <section class="contenedor-singular">
    <!-- encabezado -->
    <app-encabezado-definicion
      [titulo]="titulo"
      [creado]="formulario.value.creado"
      [modificado]="formulario.value.modificado"></app-encabezado-definicion>
    <!-- datos -->
    <mat-card>
      <article class="contenido">
        <!-- codigo -->
        <mat-form-field appearance="fill" class="codigo">
          <mat-label>Codigo</mat-label>
          <input
            type="text"
            matInput
            formControlName="codigo"
            readonly="true"
            [value]="formulario.value.codigo | corregirCodigo" />
        </mat-form-field>
        <!-- denominacion -->
        <mat-form-field appearance="fill" class="denominacion">
          <mat-label>Denominacion</mat-label>
          <input type="text" matInput formControlName="denominacion" />
        </mat-form-field>
        <!-- numeroPoliza -->
        <mat-form-field appearance="fill" class="numeroPoliza">
          <mat-label>Numero de Poliza</mat-label>
          <input type="text" matInput formControlName="numeroPoliza" />
        </mat-form-field>
        <!-- aseguradoraId -->
        <mat-form-field appearance="fill" class="aseguradoraId">
          <mat-label>Aseguradora</mat-label>
          <input
            type="text"
            matInput
            formControlName="aseguradoraId"
            readonly="true"
            [value]="
              formulario.value.aseguradoraId | denominacionAseguradora | async
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarAseguradora()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- tipoPolizaId -->
        <mat-form-field appearance="fill" class="tipoPolizaId">
          <mat-label>Tipo de Poliza</mat-label>
          <input
            type="text"
            matInput
            formControlName="tipoPolizaId"
            readonly="true"
            [value]="
              formulario.value.tipoPolizaId | denominacionTipoPoliza | async
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarTipoPoliza()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- tipoCoberturaId -->
        <mat-form-field appearance="fill" class="tipoCoberturaId">
          <mat-label>Tipo de Cobertura</mat-label>
          <input
            type="text"
            matInput
            formControlName="tipoCoberturaId"
            readonly="true"
            [value]="
              formulario.value.tipoCoberturaId
                | denominacionTipoCobertura
                | async
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarTipoCobertura()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- fechaInicioPoliza -->
        <mat-form-field appearance="fill" class="fechaInicioPoliza">
          <mat-label>Fecha Inicio de la Poliza</mat-label>
          <input
            [matDatepicker]="pickerFechaInicioPoliza"
            matInput
            formControlName="fechaInicioPoliza"
            readonly="true" />
          <mat-datepicker-toggle
            [for]="pickerFechaInicioPoliza"
            matSuffix></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaInicioPoliza></mat-datepicker>
        </mat-form-field>
        <!-- fechaFinPoliza -->
        <mat-form-field appearance="fill" class="fechaFinPoliza">
          <mat-label>Fecha Inicio de la Poliza</mat-label>
          <input
            [matDatepicker]="pickerFechaFinPoliza"
            matInput
            formControlName="fechaFinPoliza"
            readonly="true" />
          <mat-datepicker-toggle
            [for]="pickerFechaFinPoliza"
            matSuffix></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaFinPoliza></mat-datepicker>
        </mat-form-field>
        <!-- montoAsegurado -->
        <mat-form-field appearance="fill" class="montoAsegurado">
          <mat-label>Monto Asegurado</mat-label>
          <input type="number" matInput formControlName="montoAsegurado" />
        </mat-form-field>
        <!-- monedaId -->
        <mat-form-field appearance="fill" class="monedaId">
          <mat-label>Moneda</mat-label>
          <input
            type="text"
            matInput
            formControlName="monedaId"
            readonly="true"
            [value]="
              formulario.value.monedaId
                | denominacionMoneda
                | async
                | corregirSeleccionar
                | titlecase
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarMoneda()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- monedaSecundariaId -->
        <mat-form-field appearance="fill" class="monedaSecundariaId">
          <mat-label>Moneda Secundaria</mat-label>
          <input
            type="text"
            matInput
            formControlName="monedaSecundariaId"
            readonly="true"
            [value]="
              formulario.value.monedaSecundariaId
                | denominacionMoneda
                | async
                | corregirSeleccionar
                | titlecase
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarMonedaSecundaria()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- coberturaAdicional -->
        <mat-form-field appearance="fill" class="coberturaAdicional">
          <mat-label>Cobertura Adicional</mat-label>
          <input
            type="text"
            matInput
            formControlName="coberturaAdicional"
            readonly="true"
            [value]="
              formulario.value.coberturaAdicional
                | denominacionTipoCobertura
                | async
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarCoberturaAdicional()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- poseeRCV -->
        <mat-slide-toggle
          color="primary"
          class="poseeRCV"
          formControlName="poseeRCV"
          >Posee R.C.V.</mat-slide-toggle
        >
        <!-- descripcionCobertura -->
        <mat-form-field appearance="fill" class="descripcionCobertura">
          <mat-label>Descripcion de la Cobertura</mat-label>
          <textarea
            matInput
            rows="2"
            formControlName="descripcionCobertura"></textarea>
        </mat-form-field>
      </article>
    </mat-card>
  </section>
</form>
<!-- barra de herramientas lateral -->
<app-toolbar
  (importar)="importar()"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  [desabilitarGuardar]="formulario.invalid"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  [mostrarBuscar]="false"
  [mostrarSalir]="false"></app-toolbar>
