<mat-card>
  <table mat-table [dataSource]="dataSource" class="table">
    <!-- fechaDepreciacion -->
    <ng-container matColumnDef="fechaDepreciacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Fecha de Depreciación
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.fechaDepreciacion }}
      </td>
    </ng-container>
    <!-- comprobante -->
    <ng-container matColumnDef="comprobante">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Comprobante</th>
      <td mat-cell *matCellDef="let row">
        {{ row.comprobante }}
      </td>
    </ng-container>
    <!-- activo -->
    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bien</th>
      <td mat-cell *matCellDef="let row">
        {{ row.activo }}
      </td>
    </ng-container>
    <!-- identificador -->
    <ng-container matColumnDef="identificador">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Identificador</th>
      <td mat-cell *matCellDef="let row">
        {{ row.identificador }}
      </td>
    </ng-container>
    <!-- costo -->
    <ng-container matColumnDef="costo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo</th>
      <td mat-cell *matCellDef="let row">
        {{ row.costo }}
      </td>
    </ng-container>
    <!-- metodo -->
    <ng-container matColumnDef="metodo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Método de Depreciación
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.metodo }}
      </td>
    </ng-container>
    <!-- creado -->
    <ng-container matColumnDef="creado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Creado</th>
      <td mat-cell *matCellDef="let row">
        {{ row.creado | date : 'longDate' }}
      </td>
    </ng-container>

    <!-- ejecuta el armado de la tabla -->
    <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnasVisibles"
      class="row-hover"></tr>

    <!-- mostrar cuando no hay datos que coincidan -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay datos para mostrar"</td>
    </tr>
  </table>
</mat-card>
