<section class="contenedor-singular superior">
  <!-- encabezado reporte -->
  <app-encabezado-reportes
    [titulo]="titulo"
    [fechaEmision]="fechaEmision"></app-encabezado-reportes>
</section>
<section class="contenedor-singular inferior superior">
  <mat-card>
    <article class="contenido">
      <app-rango-fechas
        [formulario]="formularioRangoFechas"
        class="rangoFechas"></app-rango-fechas>
    </article>
  </mat-card>
  <article class="inferior">
    <app-tabla-acta-prestamo
      [ocultarEncabezado]="true"></app-tabla-acta-prestamo>
  </article>
</section>
<app-toolbar
  [mostrarImportar]="false"
  [mostrarBorrar]="false"
  [mostrarSalir]="false"></app-toolbar>
