<div class="buttons mainColorText" [ngStyle]="{ top: 85 - offset + 'px' }">
  <!-- guardar -->
  <ng-container *ngIf="mostrarGuardar">
    <button
      mat-button
      type="button"
      (click)="guardar.emit()"
      [disabled]="desabilitarGuardar">
      <i class="material-icons">save</i>
    </button>
  </ng-container>
  <!-- borrar -->
  <ng-container *ngIf="mostrarBorrar">
    <button
      mat-button
      type="button"
      (click)="borrar.emit()"
      [disabled]="desabilitarBorrar">
      <i class="material-icons">delete</i>
    </button>
  </ng-container>
  <!-- importar -->
  <ng-container *ngIf="mostrarImportar">
    <button
      mat-button
      type="button"
      (click)="importar.emit()"
      [disabled]="desabilitarImportar">
      <i class="material-icons">content_copy</i>
    </button>
  </ng-container>
  <!-- imprimir -->
  <ng-container *ngIf="mostrarImprimir">
    <button
      mat-button
      type="button"
      (click)="imprimir.emit()"
      [disabled]="desabilitarImprimir">
      <i class="material-icons">print</i>
    </button>
  </ng-container>
  <!--ir atras -->
  <ng-container *ngIf="mostrarIrAtras">
    <button
      mat-button
      type="button"
      (click)="irAtras.emit()"
      [disabled]="desabilitarIrAtras">
      <i class="material-icons">reply</i>
    </button>
  </ng-container>
  <!-- ir al inicio -->
  <ng-container *ngIf="mostrarIrAlInicio">
    <button
      mat-button
      type="button"
      (click)="irAlInicio.emit()"
      [disabled]="desabilitarIrAlInicio">
      <i class="material-icons">reply_all</i>
    </button>
  </ng-container>
  <!-- salir -->
  <ng-container *ngIf="mostrarSalir">
    <button
      mat-button
      type="button"
      (click)="salir.emit()"
      [disabled]="desabilitarSalir">
      <i class="material-icons">power_settings_new</i>
    </button>
  </ng-container>
</div>
