<div class="pageContent">
    <mat-card class="card">
        <mat-card-title>
           Causa de Movimiento
        </mat-card-title>         
        <mat-divider></mat-divider>  
        <mat-card-content class="card-content">            
            <form [formGroup]="formCausaMovimiento" class="card-content-form-datos">
                <mat-form-field>
                  <mat-label>Código</mat-label>
                  <input matInput type="text"  matInput formControlName= "codigo"  
                  maxlength= "3" required 
                  (blur)="validarCodigo($event,'codigo')"
                  [readonly]="idCausa>0">
                  <mat-error *ngIf="formCausaMovimiento.controls['codigo'].hasError('required')">El valor es obligatorio</mat-error>
              </mat-form-field>                
                <mat-form-field class= "descripcion">
                    <mat-label>Denominación</mat-label>
                    <input matInput type="text"  matInput formControlName= "denominacion" maxlength= "256" minlength="5" required >
                    <mat-error *ngIf="formCausaMovimiento.controls['denominacion'].hasError('required')">El valor es obligatorio</mat-error>
                </mat-form-field>                 
                <div >
                    <mat-label class="descripcion">Tipo de Movimiento</mat-label>
                </div >    
                <div class="descripcion">
                   <mat-radio-group formControlName="tipoCausa" class="radio" requerid>
                        <mat-radio-button value="I" class="radio">Incorporación</mat-radio-button>
                        <mat-radio-button value="D"class="radio">Desincorporación</mat-radio-button>
                        <mat-radio-button value="R"class="radio">Reasignación</mat-radio-button>
                        <mat-radio-button value="M"class="radio">Modificación</mat-radio-button>
                      </mat-radio-group>                  
                    </div> 
                    <br>
                <div class="descripcion">
                    <mat-slide-toggle formControlName="estatusContabilidad">Estatus de Afectación Contable</mat-slide-toggle>
                </div> 
                <div class="descripcion">
                    <mat-slide-toggle formControlName="estatusPresupuesto">Estatus de Afectación Presupuestaria</mat-slide-toggle>
                </div> 
            </form>
        </mat-card-content>
    </mat-card>
</div>

  <toolbar
        (crear)= "inicializar()"
        (buscar)="openCatalogo()"
        (borrar)="deleteCauseMovement()"
        (guardar)="newCauseMovement()"
        (salir)="exit()"
        [desabilitarImprimir]="true"
        [desabilitarBuscar]="AllCause.length == 0 "
        [desabilitarGuardar]="!formCausaMovimiento.valid "
        [desabilitarBorrar]="!formCausaMovimiento.valid || operacion!='actualizar'"
    >
  </toolbar>

