<br>
<form class="form" [formGroup]="formResponsable" class="card-content-form-datos">

    <h4 class="nombre">Unidad Administradora Responsable del Bien/Activo</h4>   
      
    <mat-form-field>
        <mat-label>Dependencia Administrativa Responsable </mat-label>
        <mat-select formControlName="dependenciaResponsable" [disabled]="true">
            <mat-option *ngFor="let tipo of administrativeUnit" [value]="tipo.codigo" >
                {{tipo.denominacion}}
              </mat-option>
        </mat-select>
     </mat-form-field> 

     <mat-form-field class="fila">
        <mat-label>Dependencia Administrativa Donde se Ubica</mat-label>
        <mat-select formControlName="dependenciaUbicacion"  [disabled]="true">
            <mat-option *ngFor="let tipo of administrativeUnit" [value]="tipo.codigo" >
                {{tipo.denominacion}}
              </mat-option>
        </mat-select>
     </mat-form-field> 


     <h4 class="nombre">Personas Responsables del  Bien/Activo</h4>

     <mat-form-field>
        <mat-label>Código del Responsable Administrativo</mat-label>
        <mat-select formControlName="responsableAdministrativo"  [disabled]="true">
            <mat-option *ngFor="let tipo of stateConservation" [value]="tipo.codigo" >
                {{tipo.denominacion}}
              </mat-option>
        </mat-select>
     </mat-form-field> 

     <mat-form-field>
        <mat-label>Código Responsable de Uso </mat-label>
        <mat-select formControlName="responsableUso"  [disabled]="true">
            <mat-option *ngFor="let tipo of stateConservation" [value]="tipo.codigo" >
                {{tipo.denominacion}}
              </mat-option>
        </mat-select>
     </mat-form-field>   

     <mat-form-field>
        <mat-label>Código Responsable del Cuido Directo </mat-label>
        <mat-select formControlName="responsableCuido"  [disabled]="true">
            <mat-option *ngFor="let tipo of stateConservation" [value]="tipo.codigo" >
                {{tipo.denominacion}}
              </mat-option>
        </mat-select>
     </mat-form-field>   

  
</form>
