<section class="contenedor-singular superior">
  <!-- encabezado reporte -->
  <app-encabezado-reportes
    [titulo]="titulo"
    [fechaEmision]="fechaEmision"></app-encabezado-reportes>
</section>
<section class="contenedor-singular inferior superior">
  <app-filtro-rango-fechas
    [formulario]="formularioRangoFechas"
    class="rangoFechas"></app-filtro-rango-fechas>
  <article class="inferior">
    <app-detalle [dataSource]="dataSource"></app-detalle>
  </article>
</section>
<app-toolbar
  [mostrarBuscar]="false"
  [mostrarImportar]="false"
  [mostrarBorrar]="false"
  [mostrarSalir]="false"
  [desabilitarGuardar]="desactivarGuardar()"
  (guardar)="guardar()"></app-toolbar>
