<section class="contenedor-singular">
  <app-tabla-integracion
    [titulo]="titulo"
    [ocultarNuevo]="true"
    [dataSource]="dataSource"
    [configuracion]="configuracion"
    [formulario]="formulario"
    [formularioRangoFechas]="formularioRangoFechas"></app-tabla-integracion>
</section>
<app-toolbar
  (ejecutar)="ejecutar()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  [mostrarBorrar]="false"
  [mostrarBuscar]="false"
  [mostrarExportar]="false"
  [mostrarGuardar]="false"
  [mostrarImportar]="false"
  [mostrarEjecutar]="true"></app-toolbar>
