<form [formGroup]="formulario">
  <section class="contenedor-singular superior">
    <app-encabezado-procesos
      [titulo]="titulo"
      [numeroComprobante]="formulario.value.comprobante | corregirCodigo"
      [creado]="formulario.value.creado"
      [modificado]="formulario.value.modificado"></app-encabezado-procesos>
  </section>
  <section class="contenedor-singular inferior">
    <mat-card>
      <article class="contenido">
        <!-- unidadAdministrativa -->
        <mat-form-field appearance="fill" class="unidadAdministrativa">
          <mat-label>Unidad Administrativa</mat-label>
          <input
            type="text"
            matInput
            formControlName="unidadAdministrativa"
            readonly="true"
            [value]="
              formulario.value.unidadAdministrativa
                | denominacionUnidadAdministrativa
                | async
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarUnidadAdministrativa()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- sede -->
        <mat-form-field appearance="fill" class="sede">
          <mat-label>Sede</mat-label>
          <input
            type="text"
            matInput
            formControlName="sede"
            readonly="true"
            [value]="formulario.value.sede | denominacionSede | async" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarSede()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- responsableActual -->
        <mat-form-field appearance="fill" class="responsableActual">
          <mat-label>Responsable actual</mat-label>
          <input
            type="text"
            matInput
            formControlName="responsableAnterior"
            readonly="true"
            [value]="
              formulario.value.responsableAnterior
                | denominacionResponsable
                | async
                | corregirNoAsignado
            " />
        </mat-form-field>
        <!-- nuevoResponsable -->
        <mat-form-field appearance="fill" class="nuevoResponsable">
          <mat-label>Nuevo responsable</mat-label>
          <input
            type="text"
            matInput
            formControlName="nuevoResponsable"
            readonly="true"
            [value]="
              formulario.value.nuevoResponsable
                | denominacionResponsable
                | async
                | corregirSeleccionar
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarNuevoResponsable()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- observaciones -->
        <mat-form-field appearance="fill" class="observaciones">
          <mat-label>Observaciones</mat-label>
          <textarea
            matInput
            rows="2"
            formControlName="observaciones"></textarea>
        </mat-form-field>
      </article>
    </mat-card>
  </section>
</form>
<!-- barra de herramientas lateral -->
<app-toolbar
  (importar)="importar()"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (buscar)="buscar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  [desabilitarGuardar]="!formularioValido()"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  [tooTipProceso]="true"
  [mostrarSalir]="false"></app-toolbar>
