<form [formGroup]="formulario">
  <section class="contenido">
    <!-- asegurado -->
    <mat-slide-toggle formControlName="asegurado" class="asegurado"
      >Asegurado</mat-slide-toggle
    >
    <!-- seguro id -->
    <mat-form-field appearance="fill" class="seguroId">
      <mat-label>Seguro</mat-label>
      <input type="text" matInput formControlName="seguroId" />
      <button type="button" mat-icon-button matSuffix (click)="buscarSeguro()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </section>
</form>
