<form [formGroup]="formulario">
  <section class="contenedor-singular">
    <!-- encabezado -->
    <app-encabezado-definicion
      [titulo]="titulo"
      [creado]="formulario.value.creado"
      [modificado]="formulario.value.modificado"></app-encabezado-definicion>
    <!-- datos -->
    <mat-card>
      <article class="contenido">
        <!-- codigo -->
        <mat-form-field appearance="fill" class="codigo">
          <mat-label>Código</mat-label>
          <input
            type="text"
            matInput
            formControlName="codigo"
            readonly="true"
            [value]="formulario.value.codigo | corregirCodigo" />
        </mat-form-field>
        <!-- denominacion -->
        <mat-form-field appearance="fill" class="denominacion">
          <mat-label>Denominación</mat-label>
          <input type="text" matInput formControlName="denominacion" />
        </mat-form-field>
      </article>
    </mat-card>
  </section>
</form>
<!-- barra de herramientas lateral -->
<app-toolbar
  (importar)="importar()"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  [desabilitarGuardar]="formulario.invalid"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  [mostrarImprimir]="false"
  [mostrarSalir]="false"></app-toolbar>
