<form
  class="form"
  [formGroup]="formDepreciacion"
  class="card-content-form-datos">
  <mat-form-field>
    <mat-label>Método de Depreciación</mat-label>
    <mat-select
      formControlName="metodoDepreciacion"
      (selectionChange)="modifyValueSelection($event, 'metodoDepreciacion')">
      <mat-option *ngFor="let tipo of metodo" [value]="tipo.value">
        {{ tipo.denominacion }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="fila">
    <mat-label>Vida Util (Años)</mat-label>
    <input
      type="text"
      matInput
      (blur)="modifyValueInput($event, 'vidaUtil')"
      formControlName="vidaUtil" />
  </mat-form-field>

  <mat-form-field class="fila">
    <mat-label>Valor de Rescate</mat-label>
    <input
      type="text"
      matInput
      (blur)="modifyValueInput($event, 'valorRescate')"
      formControlName="valorRescate" />
  </mat-form-field>

  <h4 class="nombre">Cuentas para Registrar la Depreciación del Bien/Activo</h4>
  <h5 class="nombre">Afección Contable de la Depreciación</h5>

  <ng-container *ngIf="depeciacion == 'C'">
    <mat-form-field>
      <mat-label>Código Contable para el Gasto de Depreciación</mat-label>
      <input
        type="text"
        matInput
        formControlName="cuentaDepreciacion"
        [readonly]="true" />
      <span
        matSuffix
        mat-button
        (click)="openCatalogDepreciationAccounts()"
        role="img"
        aria-hidden="true"
        ><mat-icon>search</mat-icon></span
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label
        >Código Contable para el Gasto de Depreciación Acumulada</mat-label
      >
      <input
        type="text"
        matInput
        formControlName="cuentaDepreciacionAcumulada"
        [readonly]="true" />
      <span
        matSuffix
        mat-button
        (click)="openCatalogAccumulatedDepreciationAccounts()"
        role="img"
        aria-hidden="true"
        ><mat-icon>search</mat-icon></span
      >
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="depeciacion == 'P'">
    <mat-form-field>
      <mat-label>Cuenta</mat-label>
      <input
        type="text"
        matInput
        required
        formControlName="cuentaPresupuestaria"
        [readonly]="true" />
      <span
        matSuffix
        mat-button
        (click)="openAccount()"
        role="img"
        aria-hidden="true"
        ><mat-icon>search</mat-icon></span
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Estructura</mat-label>
      <input type="text" matInput formControlName="estructuraPresupuestaria" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fuente Financiamiento</mat-label>
      <input type="text" matInput formControlName="fuenteFinanciamiento" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Centro de Costo</mat-label>
      <mat-select
        formControlName="codigoCentroCosto"
        (selectionChange)="modifyValueSelection($event, 'codigoCentroCosto')">
        <mat-option *ngFor="let tipo of costCenter" [value]="tipo.centro">
          {{ tipo.denominacion }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Código Contable para el Gasto de Depreciación</mat-label>
      <input
        type="text"
        matInput
        (blur)="modifyValueInput($event, 'cuentaDepreciacion')"
        formControlName="cuentaDepreciacion"
        [readonly]="true" />
      <span
        matSuffix
        mat-button
        (click)="openCatalogDepreciationAccounts()"
        role="img"
        aria-hidden="true"
        ><mat-icon>search</mat-icon></span
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label
        >Código Contable para el Gasto de Depreciación Acumulada</mat-label
      >
      <input
        type="text"
        matInput
        (blur)="modifyValueInput($event, 'cuentaDepreciacionAcumulada')"
        formControlName="cuentaDepreciacionAcumulada"
        [readonly]="true" />
      <span
        matSuffix
        mat-button
        (click)="openCatalogAccumulatedDepreciationAccounts()"
        role="img"
        aria-hidden="true"
        ><mat-icon>search</mat-icon></span
      >
    </mat-form-field>
  </ng-container>
</form>
