<form [formGroup]="formulario">
  <section class="contenedor-singular">
    <!-- encabezado -->
    <app-encabezado-definicion [titulo]="titulo"></app-encabezado-definicion>
    <!-- datos -->
    <mat-card>
      <article class="contenido">
        <!-- codigo -->
        <mat-form-field appearance="fill" class="codigo">
          <mat-label>Codigo</mat-label>
          <input type="text" matInput formControlName="codigo" />
        </mat-form-field>
        <!-- denominacion -->
        <mat-form-field appearance="fill" class="denominacion">
          <mat-label>Denominacion</mat-label>
          <input type="text" matInput formControlName="denominacion" />
        </mat-form-field>
      </article>
    </mat-card>
  </section>
</form>
<!-- barra de herramientas lateral -->
<app-toolbar
  (importar)="importar()"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  [desabilitarGuardar]="formulario.invalid"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  [mostrarImprimir]="false"
  [mostrarSalir]="false"></app-toolbar>
