<section class="contenedor">
  <mat-card>
    <form [formGroup]="formulario">
      <!-- titulo -->
      <mat-card-title class="titulo">{{ titulo | titlecase }}</mat-card-title>
      <mat-divider></mat-divider>
      <article class="contenido">
        <!-- codigo -->
        <mat-form-field appearance="fill" class="codigo">
          <mat-label>Codigo</mat-label>
          <input type="text" matInput formControlName="codigo" />
        </mat-form-field>
        <!-- denominacion -->
        <mat-form-field appearance="fill" class="denominacion">
          <mat-label>Denominacion</mat-label>
          <input type="text" matInput formControlName="denominacion" />
        </mat-form-field>
      </article>
    </form>
  </mat-card>
</section>
<app-toolbar
  [desabilitarGuardar]="formulario.invalid"
  [mostrarCrear]="false"
  [mostrarImprimir]="false"></app-toolbar>
