<form [formGroup]="formulario">
  <section class="contenido">
    <!-- oficina de registro -->
    <mat-form-field appearance="fill" class="oficinaRegistro">
      <mat-label>Oficina de registro</mat-label>
      <input type="text" matInput formControlName="oficinaRegistro" />
    </mat-form-field>
    <!-- referencia del registro -->
    <mat-form-field appearance="fill" class="referenciaRegistro">
      <mat-label>Referencia del registro</mat-label>
      <input type="text" matInput formControlName="referenciaRegistro" />
    </mat-form-field>
    <!-- tomo -->
    <mat-form-field appearance="fill" class="tomo">
      <mat-label>Tomo</mat-label>
      <input type="text" matInput formControlName="tomo" />
    </mat-form-field>
    <!-- folio -->
    <mat-form-field appearance="fill" class="folio">
      <mat-label>Folio</mat-label>
      <input type="text" matInput formControlName="folio" />
    </mat-form-field>
    <!-- protocolo -->
    <mat-form-field appearance="fill" class="protocolo">
      <mat-label>Protocolo</mat-label>
      <input type="text" matInput formControlName="protocolo" />
    </mat-form-field>
    <!-- numero de registro -->
    <mat-form-field appearance="fill" class="numeroRegistro">
      <mat-label>Número de registro</mat-label>
      <input type="text" matInput formControlName="numeroRegistro" />
    </mat-form-field>
    <!-- fecha registrado -->
    <mat-form-field appearance="fill" class="fechaRegistrado">
      <mat-label>Fecha registrado</mat-label>
      <input
        matInput
        [matDatepicker]="fechaRegistradoPicker"
        formControlName="fechaRegistrado" />
      <mat-datepicker-toggle
        matSuffix
        [for]="fechaRegistradoPicker"></mat-datepicker-toggle>
      <mat-datepicker #fechaRegistradoPicker></mat-datepicker>
    </mat-form-field>
    <!-- propietario anterior -->
    <mat-form-field appearance="fill" class="propietarioAnterior">
      <mat-label>Propietario anterior</mat-label>
      <input type="text" matInput formControlName="propietarioAnterior" />
    </mat-form-field>
    <!-- dependencias -->
    <mat-form-field appearance="fill" class="dependencias">
      <mat-label>Dependencias</mat-label>
      <input type="text" matInput formControlName="dependencias" />
    </mat-form-field>
    <!-- metros cuadrados de area de construccion  -->
    <mat-form-field appearance="fill" class="areaConstruccionM2">
      <mat-label>M2 Área de construcción</mat-label>
      <input type="text" matInput formControlName="areaConstruccionM2" />
    </mat-form-field>
    <!-- metros cuadrados de area del terreno  -->
    <mat-form-field appearance="fill" class="areaTerrenoM2">
      <mat-label>M2 Área del terreno</mat-label>
      <input type="text" matInput formControlName="areaTerrenoM2" />
    </mat-form-field>
    <!-- especificaciones del inmueble -->
    <mat-form-field appearance="fill" class="especificacionesInmueble">
      <mat-label>Especificaciones del inmueble</mat-label>
      <textarea
        rows="1"
        matInput
        formControlName="especificacionesInmueble"></textarea>
    </mat-form-field>
    <!-- pertenece a sede -->
    <mat-slide-toggle formControlName="perteneceASede" class="perteneceASede"
      >Pertenece a sede</mat-slide-toggle
    >
    <!-- sede ubicacion id -->
    <mat-form-field appearance="fill" class="sedeUbicacionId">
      <mat-label>Sede ubicación</mat-label>
      <input type="text" matInput formControlName="sedeUbicacionId" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarSedeUbicacion()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- especificaciones del color -->
    <mat-form-field appearance="fill" class="especificacionesColor">
      <mat-label>Especificaciones del color</mat-label>
      <textarea
        rows="1"
        matInput
        formControlName="especificacionesColor"></textarea>
    </mat-form-field>
  </section>
</form>
