<!-- filtro -->
<ng-container *ngIf="sinDecorar; else decorado">
  <ng-container *ngTemplateOutlet="contenido"></ng-container>
</ng-container>

<!-- decorado -->
<ng-template #decorado>
  <mat-card appearance="outlined" class="filtro-card">
    <mat-card-title class="filtro-titulo"
      >Filtrar Estado de Aprobación</mat-card-title
    >
    <p class="filtro-descripcion">
      Seleccione el estado de aprobación, si no selecciona ninguno se muestran
      todos los registros
    </p>
    <ng-container *ngTemplateOutlet="contenido"></ng-container>
  </mat-card>
</ng-template>

<!-- contenido -->
<ng-template #contenido>
  <form [formGroup]="formulario">
    <mat-form-field appearance="fill" class="filtro-input">
      <mat-label>Estado de Aprobación</mat-label>
      <mat-select formControlName="estadoAprobacion">
        <mat-option
          *ngFor="let estado of ['TODOS', 'APROBADOS', 'NO APROBADOS']"
          [value]="estado"
          >{{ estado | titlecase }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </form>
</ng-template>
