<section class="contenedor-singular">
  <!-- encabezado -->
  <app-encabezado-definicion [titulo]="titulo"></app-encabezado-definicion>
  <!-- datos -->
  <mat-card>
    <form [formGroup]="formulario">
      <article class="contenido">
        <!-- codigo -->
        <mat-form-field appearance="fill" class="codigo">
          <mat-label>Codigo</mat-label>
          <input type="text" matInput formControlName="codigo" />
        </mat-form-field>
        <!-- tipo -->
        <mat-form-field appearance="fill" class="tipo">
          <mat-label>Tipo</mat-label>
          <input type="text" matInput formControlName="tipo" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarTipo()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- denominacion -->
        <mat-form-field appearance="fill" class="denominacion">
          <mat-label>Denominacion</mat-label>
          <input type="text" matInput formControlName="denominacion" />
        </mat-form-field>
      </article>
    </form>
  </mat-card>
  <!-- botones -->
</section>
<!-- barra de herramientas lateral -->
<app-toolbar
  (importar)="importar()"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  [desabilitarGuardar]="formulario.invalid"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  [mostrarImprimir]="false"
  [mostrarSalir]="false"></app-toolbar>
