<section class="layout">
  <ng-container
    [ngTemplateOutlet]="logged"
    *ngIf="usuario; else notLogged"></ng-container>

  <footer class="mainColor">
    <h6>www.sigesp.com.ve</h6>
  </footer>
</section>

<ng-template #logged>
  <header class="mainColor loggedHeader">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="sidenav.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <h1 class="title">
      {{ 'Sigesp - Bienes Nacionales'
      }}<span class="version">{{ version }}</span>
    </h1>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="close()">
      <mat-icon aria-label="Side nav toggle icon">exit_to_app</mat-icon>
    </button>
  </header>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" class="sidenav" opened>
      <mat-nav-list>
        <a
          mat-list-item
          *ngFor="let item of items"
          [routerLink]="item.routerLink">
          <mat-icon class="mainColorText">{{ item.icon }}</mat-icon>
          {{ item.label }}</a
        >
        <!-- <mat-accordion>
          <ng-container *ngFor="let r of rutas">
            <ng-container *ngIf="r.children.length > 0">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <a>
                    <mat-icon class="mainColorText">{{ r.icon }}</mat-icon>
                    {{ r.name }}
                  </a>
                </mat-expansion-panel-header>
                <ng-container *ngFor="let h of r.children">
                  <ng-container *ngIf="h.children.length > 0">
                    <div class="grandchildren">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <a>
                            <mat-icon class="mainColorText">{{
                              h.icon
                            }}</mat-icon>
                            {{ h.name }}
                          </a>
                        </mat-expansion-panel-header>
                        <ng-container *ngFor="let g of h.children">
                          <a [routerLink]="g.url" class="item subItem">
                            <mat-icon class="mainColorText">{{
                              g.icon
                            }}</mat-icon>
                            {{ g.name }}
                          </a>
                        </ng-container>
                      </mat-expansion-panel>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="h.children.length == 0">
                    <a [routerLink]="h.url" class="item subItem">
                      <mat-icon class="mainColorText">{{ h.icon }}</mat-icon>
                      {{ h.name }}
                    </a>
                  </ng-container>
                </ng-container>
              </mat-expansion-panel>
            </ng-container>
            <ng-container *ngIf="r.children.length == 0">
              <a [routerLink]="r.url" class="item">
                <mat-icon class="mainColorText">{{ r.icon }}</mat-icon>
                {{ r.name }}
              </a>
            </ng-container>
          </ng-container>
        </mat-accordion> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <section class="content">
        <router-outlet></router-outlet>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>

<ng-template #notLogged>
  <header class="mainColor notLogged">
    <h1 class="title">{{ 'Sigesp - Bienes Nacionales' | uppercase }}</h1>
  </header>

  <section class="content">
    <router-outlet></router-outlet>
  </section>
</ng-template>
