.layout {
  display: grid;
  grid-template-rows: 70px auto 50px;
}

.content {
  min-height: calc(100vh - 121px);
  background: lightgray;
}

.sidenav {
  width: 250px;
  background: white;
}

footer {
  text-align: center;
  h6 {
    margin: 16px 0px;
    font-size: 16px;
    font-weight: 200;
  }
}

header {
  display: grid;
  align-items: center;
  gap: 15px;
}

.loggedHeader {
  padding: 10px 15px;
  grid-template-columns: 40px 1fr 40px;
}

.notLogged {
  grid-template-columns: 1fr;
  padding: 15px 25px;
}

a {
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  mat-icon {
    margin-right: 8px;
  }
}

mat-expansion-panel {
  border-radius: 0 !important;
  box-shadow: none !important;
  margin: 0 !important;
  mat-expansion-panel-header {
    padding: 0 16px 0 8px !important;
  }
}
.item {
  min-height: 40px;
  padding: 4px 16px 4px 8px;
  &:hover {
    background: rgba(0, 0, 0, 0.08);
  }
  &:active {
    background: rgba(0, 0, 0, 0.12);
  }
}

.subItem {
  padding: 4px 16px 4px 16px;
  margin-left: -24px;
  width: calc(100% + 16px);
}

.mat-expansion-panel-content {
  div {
    padding: 0 !important;
  }
}

.grandchildren {
  margin: 0 -24px;
  mat-expansion-panel {
    mat-expansion-panel-header {
      padding: 0 16px !important;
    }
    .subItem {
      padding: 4px 16px 4px 24px;
      width: calc(100% + 8px);
    }
  }
}

.version {
  font-weight: 100;
  font-size: small;
}

.mainColor {
  background: #073763;
  color: white;
}

.mainColorText {
  color: #073763 !important;
}

.title {
  font-weight: 600;
  font-size: x-large;
  margin: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.pageContent {
  padding: 15px 60px 15px 15px;
}

.pageContentSmall {
  padding: 15px;
}

.mat-dialog-container {
  padding: 0 !important;
  border-radius: 0.35rem !important;
}
