<form [formGroup]="formulario">
  <!-- encabezado -->
  <section class="contenedor-singular superior">
    <app-encabezado-procesos
      [titulo]="titulo"
      [numeroComprobante]="formulario.value.comprobante | corregirCodigo"
      [creado]="formulario.value.creado"
      [modificado]="formulario.value.modificado"></app-encabezado-procesos>
  </section>
  <!-- filtros y observaciones -->
  <section class="contenedor-singular superior inferior">
    <mat-card appearance="outlined">
      <article class="contenido">
        <app-filtro-rango-fechas
          class="filtroRangoFechas"
          [sinDecorar]="filtrosSinDecorar"
          [formulario]="formularioRangoFechas"></app-filtro-rango-fechas>
        <app-filtro-tipo-proceso
          class="filtroTipoProceso"
          [sinDecorar]="filtrosSinDecorar"
          [tiposProceso]="tiposProceso"
          [formulario]="formulario"></app-filtro-tipo-proceso>
        <mat-form-field appearance="fill" class="observaciones">
          <mat-label>Observaciones</mat-label>
          <textarea
            matInput
            rows="2"
            formControlName="observaciones"></textarea>
        </mat-form-field>
      </article>
    </mat-card>
  </section>
</form>
<!-- lista de activos -->
<section class="contenedor-singular inferior">
  <app-activos-proceso
    [agregarActivoDeshabilitado]="false"
    [columnasVisibles]="columnasVisibles"
    [mostrarBuscar]="true"
    (cambiarEstadoActivo)="cambiarEstadoActivo($event)"
    [dataSource]="dataSource"></app-activos-proceso>
</section>
<!-- barra de herramientas lateral -->
<app-toolbar
  [mostrarBorrar]="false"
  [mostrarEjecutar]="true"
  [mostrarGuardar]="false"
  [mostrarImportar]="false"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  (buscar)="buscar()"
  (ejecutar)="ejecutar()"
  [desabilitarEjecutar]="deshabilitarEjecutar | async"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  toolTipPersonalizado="Ir a Procesos"
  [mostrarSalir]="false"></app-toolbar>
