<form [formGroup]="formulario">
  <section class="contenedor-singular superior">
    <app-encabezado-procesos
      [titulo]="titulo"
      [numeroComprobante]="formulario.value.comprobante | corregirCodigo"
      [creado]="formulario.value.creado"
      [modificado]="formulario.value.modificado"></app-encabezado-procesos>
  </section>
  <section class="contenedor-singular superior inferior">
    <mat-card>
      <article class="contenido">
        <app-filtro-rango-fechas
          class="filtroRangoFechas"
          [sinDecorar]="filtrosSinDecorar"
          [formulario]="formularioRangoFechas"></app-filtro-rango-fechas>
        <app-filtro-tipo-proceso
          class="filtroTipoProceso"
          [sinDecorar]="filtrosSinDecorar"
          [tiposProceso]="tiposProceso"
          [formulario]="formularioFiltros"></app-filtro-tipo-proceso>
        <!-- <app-filtro-proveedor
          class="filtroProveedor"
          [sinDecorar]="filtrosSinDecorar"
          [formulario]="formularioFiltros"></app-filtro-proveedor>
        <app-filtro-beneficiario
          class="filtroBeneficiario"
          [sinDecorar]="filtrosSinDecorar"
          [formulario]="formularioFiltros"></app-filtro-beneficiario>
        <app-filtro-responsable
          class="filtroResponsable"
          [sinDecorar]="filtrosSinDecorar"
          [formulario]="formularioFiltros"></app-filtro-responsable> -->
        <mat-form-field appearance="fill" class="observaciones">
          <mat-label>Observaciones</mat-label>
          <textarea
            matInput
            rows="2"
            formControlName="observaciones"></textarea>
        </mat-form-field>
      </article>
    </mat-card>
  </section>
</form>
<section class="contenedor-singular inferior">
  <app-activos-proceso
    [agregarActivoDeshabilitado]="false"
    [columnasVisibles]="columnasVisibles"
    [mostrarBuscar]="true"
    [dataSource]="dataSource"></app-activos-proceso>
</section>
<!-- barra de herramientas lateral -->
<app-toolbar
  (importar)="importar()"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  (buscar)="buscar()"
  [desabilitarGuardar]="formulario.invalid"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  toolTipPersonalizado="Ir a Procesos"
  [mostrarSalir]="false"></app-toolbar>
