<form [formGroup]="formulario">
  <section class="contenedor-singular">
    <!-- encabezado -->
    <app-encabezado-definicion
      [titulo]="titulo"
      [creado]="formulario.value.creado"
      [modificado]="formulario.value.modificado"></app-encabezado-definicion>
    <!-- datos -->
    <mat-card>
      <article class="contenido">
        <!-- codigo -->
        <mat-form-field appearance="fill" class="codigo">
          <mat-label>Codigo</mat-label>
          <input
            type="text"
            matInput
            formControlName="codigo"
            readonly="true"
            [value]="formulario.value.codigo | corregirCodigo" />
        </mat-form-field>
        <!-- denominacion -->
        <mat-form-field appearance="fill" class="denominacion">
          <mat-label>Denominación</mat-label>
          <input type="text" matInput formControlName="denominacion" />
        </mat-form-field>
        <!-- fecha origen -->
        <mat-form-field appearance="fill" class="fechaOrigen">
          <mat-label>Fecha Origen</mat-label>
          <input
            matInput
            [matDatepicker]="pickerFechaOrigen"
            formControlName="fechaOrigen"
            readonly="true" />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerFechaOrigen"></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaOrigen></mat-datepicker>
        </mat-form-field>
        <!-- fecha adquisicion -->
        <mat-form-field appearance="fill" class="fechaAdquisicion">
          <mat-label>Fecha Adquisicion</mat-label>
          <input
            matInput
            [matDatepicker]="pickerFechaAdquisicion"
            formControlName="fechaAdquisicion"
            readonly="true" />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerFechaAdquisicion"></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaAdquisicion></mat-datepicker>
        </mat-form-field>
        <!-- modo adquisicion -->
        <mat-form-field appearance="fill" class="modoAdquisicion">
          <mat-label>Modo Adquisicion</mat-label>
          <mat-select formControlName="modoAdquisicion">
            <mat-option value="">Seleccionar</mat-option>
            <mat-option
              *ngFor="let modo of modosAdquisicion"
              [value]="modo[0]"
              >{{ modo[1] | titlecase }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <!-- numero forma adquisicion -->
        <mat-form-field appearance="fill" class="numeroFormaAdquisicion">
          <mat-label>Num.Forma de Adquisicion</mat-label>
          <input
            type="text"
            matInput
            formControlName="numeroFormaAdquisicion" />
        </mat-form-field>
        <!-- nombre forma adquisicion -->
        <mat-form-field appearance="fill" class="nombreFormaAdquisicion">
          <mat-label>Nombre de Forma de Adquisicion</mat-label>
          <input
            type="text"
            matInput
            formControlName="nombreFormaAdquisicion" />
        </mat-form-field>
        <!-- fecha factura -->
        <mat-form-field appearance="fill" class="fechaFactura">
          <mat-label>Fecha Factura</mat-label>
          <input
            matInput
            formControlName="fechaFactura"
            [matDatepicker]="pickerFechaFactura"
            readonly="true" />
          <mat-datepicker-toggle
            [for]="pickerFechaFactura"
            matSuffix></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaFactura></mat-datepicker>
        </mat-form-field>
        <!-- numero de factura -->
        <mat-form-field appearance="fill" class="numeroFactura">
          <mat-label>Numero de Factura</mat-label>
          <input type="text" matInput formControlName="numeroFactura" />
        </mat-form-field>
        <!-- proveedor -->
        <mat-form-field appearance="fill" class="proveedorId">
          <mat-label>Proveedor</mat-label>
          <input
            type="text"
            matInput
            formControlName="proveedorId"
            readonly="true"
            [value]="
              formulario.value.proveedorId
                | denominacionProveedor
                | async
                | corregirSeleccionar
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarProveedor()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- tomo -->
        <mat-form-field appearance="fill" class="tomo">
          <mat-label>Tomo</mat-label>
          <input type="text" matInput formControlName="tomo" />
        </mat-form-field>
        <!-- folio -->
        <mat-form-field appearance="fill" class="folio">
          <mat-label>Folio</mat-label>
          <input type="text" matInput formControlName="folio" />
        </mat-form-field>
        <!-- nombrePropietarioAnterior -->
        <mat-form-field appearance="fill" class="nombrePropietarioAnterior">
          <mat-label>Nombre del Propietario Anterior</mat-label>
          <input
            type="text"
            matInput
            formControlName="nombrePropietarioAnterior" />
        </mat-form-field>
        <!-- nombreBenefactor -->
        <mat-form-field appearance="fill" class="nombreBenefactor">
          <mat-label>Nombre del Benefactor</mat-label>
          <input
            type="text"
            matInput
            formControlName="nombreBenefactor"
            readonly="true"
            [value]="
              formulario.value.nombreBenefactor
                | denominacionBeneficiario
                | async
                | corregirSeleccionar
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarBenefactor()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- nombreBeneficiario -->
        <mat-form-field appearance="fill" class="nombreBeneficiario">
          <mat-label>Nombre del Beneficiario</mat-label>
          <input
            type="text"
            matInput
            formControlName="nombreBeneficiario"
            readonly="true"
            [value]="
              formulario.value.nombreBeneficiario
                | denominacionBeneficiario
                | async
                | corregirSeleccionar
            " />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="buscarBeneficiario()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <!-- observaciones -->
        <mat-form-field appearance="fill" class="observaciones">
          <mat-label>Observaciones</mat-label>
          <textarea matInput rows="2"></textarea>
        </mat-form-field>
      </article>
    </mat-card>
  </section>
</form>
<!-- barra de herramientas lateral -->
<app-toolbar
  (importar)="importar()"
  (guardar)="guardar()"
  (borrar)="borrar()"
  (imprimir)="imprimir()"
  (irAtras)="irAtras()"
  (irAlInicio)="irAlInicio()"
  (salir)="salir()"
  [desabilitarGuardar]="formulario.invalid"
  [desabilitarBorrar]="modoFormulario !== 'EDITANDO'"
  [mostrarBuscar]="false"
  [mostrarSalir]="false"></app-toolbar>
