<form [formGroup]="formulario">
  <article class="contenido">
    <!-- codigo -->
    <mat-form-field appearance="fill" class="codigo">
      <mat-label>Código</mat-label>
      <input
        type="text"
        matInput
        formControlName="codigo"
        readonly="true"
        [value]="formulario.value.codigo | corregirCodigo" />
    </mat-form-field>
    <!-- tipo de activo -->
    <mat-form-field appearance="fill" class="tipoActivo">
      <mat-label>Tipo de activo</mat-label>
      <mat-select formControlName="tipoActivo">
        <mat-option value="" selected>Seleccionar</mat-option>
        <mat-option *ngFor="let tipo of tiposActivo" [value]="tipo">{{
          tipo | titlecase
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- fecha de registro -->
    <mat-form-field appearance="fill" class="fechaRegistro">
      <mat-label>Fecha registro</mat-label>
      <input
        matInput
        [matDatepicker]="fechaRegistroPicker"
        formControlName="fechaRegistro"
        readonly="true" />
      <mat-datepicker-toggle
        matSuffix
        [for]="fechaRegistroPicker"></mat-datepicker-toggle>
      <mat-datepicker #fechaRegistroPicker></mat-datepicker>
    </mat-form-field>
    <!-- catalogo de cuentas -->
    <mat-form-field appearance="fill" class="catalogoCuentas">
      <mat-label>Catálogo cuentas</mat-label>
      <input
        matInput
        formControlName="catalogoCuentas"
        readonly="true"
        [value]="
          formulario.value.catalogoCuentas | denominacionCuentaContable | async
        " />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarCatalogoCuentas()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- serial rotulacion -->
    <mat-form-field appearance="fill" class="serialRotulacion">
      <mat-label>Serial Rotulación</mat-label>
      <input type="text" matInput formControlName="serialRotulacion" />
    </mat-form-field>
    <!-- denominacion -->
    <mat-form-field appearance="fill" class="denominacion">
      <mat-label>Denominación</mat-label>
      <input type="text" matInput formControlName="denominacion" />
    </mat-form-field>
    <!-- fecha de adquisicion -->
    <mat-form-field appearance="fill" class="fechaAdquisicion">
      <mat-label>Fecha de adquisición</mat-label>
      <input
        matInput
        [matDatepicker]="fechaAdquisicionPicker"
        formControlName="fechaAdquisicion"
        readonly="true" />
      <mat-datepicker-toggle
        matSuffix
        [for]="fechaAdquisicionPicker"></mat-datepicker-toggle>
      <mat-datepicker #fechaAdquisicionPicker></mat-datepicker>
    </mat-form-field>
    <!-- valor de adquisicion -->
    <mat-form-field appearance="fill" class="valorAdquisicion">
      <mat-label>Valor de adquisición</mat-label>
      <input type="number" matInput formControlName="valorAdquisicion" />
    </mat-form-field>
    <!-- modeda id -->
    <mat-form-field appearance="fill" class="monedaId">
      <mat-label>Moneda</mat-label>
      <input
        type="text"
        matInput
        formControlName="monedaId"
        readonly="true"
        [value]="
          formulario.value.monedaId
            | denominacionMoneda
            | async
            | corregirSeleccionar
            | titlecase
        " />
      <button type="button" mat-icon-button matSuffix (click)="buscarMoneda()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- modelo id -->
    <mat-form-field appearance="fill" class="modeloId">
      <mat-label>Modelo</mat-label>
      <input
        type="text"
        matInput
        formControlName="modeloId"
        readonly="true"
        [value]="formulario.value.modeloId | denominacionMarcaModelo | async" />
      <button type="button" mat-icon-button matSuffix (click)="buscarModelo()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- anio de fabricacion -->
    <mat-form-field appearance="fill" class="anioFabricacion">
      <mat-label>Año fábrica</mat-label>
      <input type="number" matInput formControlName="anioFabricacion" />
    </mat-form-field>
    <!-- serial fabrica -->
    <mat-form-field appearance="fill" class="serialFabrica">
      <mat-label>Serial Fábrica</mat-label>
      <input type="text" matInput formControlName="serialFabrica" />
    </mat-form-field>
    <!-- color id -->
    <mat-form-field appearance="fill" class="colorId">
      <mat-label>Color</mat-label>
      <input
        type="text"
        matInput
        formControlName="colorId"
        readonly="true"
        [value]="formulario.value.colorId | denominacionColor | async" />
      <button type="button" mat-icon-button matSuffix (click)="buscarColor()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- rotulacion id -->
    <mat-form-field appearance="fill" class="rotulacionId">
      <mat-label>Rotulación</mat-label>
      <input
        type="text"
        matInput
        formControlName="rotulacionId"
        readonly="true"
        [value]="
          formulario.value.rotulacionId | denominacionRotulacion | async
        " />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarRotulacion()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- categoria id -->
    <mat-form-field appearance="fill" class="categoriaId">
      <mat-label>Categoría</mat-label>
      <input
        type="text"
        matInput
        formControlName="categoriaId"
        readonly="true"
        [value]="
          formulario.value.categoriaId | denominacionCategoria | async
        " />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarCategoria()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- observaciones -->
    <mat-form-field appearance="fill" class="observaciones">
      <mat-label>Observaciones</mat-label>
      <textarea rows="2" matInput formControlName="observaciones"></textarea>
    </mat-form-field>
  </article>
</form>

<pre>{{ formulario.value | json }}</pre>
