<form [formGroup]="formulario">
  <article class="contenido">
    <!-- codigo -->
    <mat-form-field appearance="fill" class="codigo">
      <mat-label>Código</mat-label>
      <input type="text" matInput formControlName="codigo" />
    </mat-form-field>
    <!-- tipo de activo -->
    <mat-form-field appearance="fill" class="tipoActivo">
      <mat-label>Tipo de activo</mat-label>
      <mat-select formControlName="tipoActivo">
        <mat-option *ngFor="let tipo of tiposActivo" [value]="tipo">{{
          tipo | titlecase
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- fecha de registro -->
    <mat-form-field appearance="fill" class="fechaRegistro">
      <mat-label>Fecha de registro</mat-label>
      <input
        matInput
        [matDatepicker]="fechaRegistroPicker"
        formControlName="fechaRegistro" />
      <mat-datepicker-toggle
        matSuffix
        [for]="fechaRegistroPicker"></mat-datepicker-toggle>
      <mat-datepicker #fechaRegistroPicker></mat-datepicker>
    </mat-form-field>
    <!-- catalogo de cuentas -->
    <mat-form-field appearance="fill" class="catalogoCuentas">
      <mat-label>Catálogo de cuentas</mat-label>
      <mat-select matInput formControlName="catalogoCuentas">
        <mat-option
          *ngFor="let cuenta of catalogoCuentas"
          [value]="cuenta.codigo"
          >{{ cuenta.denominacion | titlecase }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <!-- serial rotulacion -->
    <mat-form-field appearance="fill" class="serialRotulacion">
      <mat-label>Serial Rotulación</mat-label>
      <input type="text" matInput formControlName="serialRotulacion" />
    </mat-form-field>
    <!-- denominacion -->
    <mat-form-field appearance="fill" class="denominacion">
      <mat-label>Denominación</mat-label>
      <input type="text" matInput formControlName="denominacion" />
    </mat-form-field>
    <!-- observaciones -->
    <mat-form-field appearance="fill" class="observaciones">
      <mat-label>Observaciones</mat-label>
      <textarea rows="2" matInput formControlName="observaciones"></textarea>
    </mat-form-field>
    <!-- fecha de adquisicion -->
    <mat-form-field appearance="fill" class="fechaAdquisicion">
      <mat-label>Fecha de adquisición</mat-label>
      <input
        matInput
        [matDatepicker]="fechaAdquisicionPicker"
        formControlName="fechaAdquisicion" />
      <mat-datepicker-toggle
        matSuffix
        [for]="fechaAdquisicionPicker"></mat-datepicker-toggle>
      <mat-datepicker #fechaAdquisicionPicker></mat-datepicker>
    </mat-form-field>
    <!-- valor de adquisicion -->
    <mat-form-field appearance="fill" class="valorAdquisicion">
      <mat-label>Valor de adquisición</mat-label>
      <input type="number" matInput formControlName="valorAdquisicion" />
    </mat-form-field>
    <!-- modeda id -->
    <mat-form-field appearance="fill" class="monedaId">
      <mat-label>Moneda</mat-label>
      <mat-select formControlName="monedaId">
        <mat-option *ngFor="let moneda of monedas" [value]="moneda.codigo">{{
          moneda.denominacion | titlecase
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- marca id -->
    <mat-form-field appearance="fill" class="marcaId">
      <mat-label>Marca</mat-label>
      <input type="text" matInput formControlName="marcaId" />
      <button type="button" mat-icon-button matSuffix (click)="buscarMarca()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- modelo id -->
    <mat-form-field appearance="fill" class="modeloId">
      <mat-label>Modelo</mat-label>
      <input type="text" matInput formControlName="modeloId" />
      <button type="button" mat-icon-button matSuffix (click)="buscarModelo()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- anio de fabricacion -->
    <mat-form-field appearance="fill" class="anioFabricacion">
      <mat-label>Año fábrica</mat-label>
      <input type="number" matInput formControlName="anioFabricacion" />
    </mat-form-field>
    <!-- serial fabrica -->
    <mat-form-field appearance="fill" class="serialFabrica">
      <mat-label>Serial Fábrica</mat-label>
      <input type="text" matInput formControlName="serialFabrica" />
    </mat-form-field>
    <!-- color id -->
    <mat-form-field appearance="fill" class="colorId">
      <mat-label>Color</mat-label>
      <input type="text" matInput formControlName="colorId" />
      <button type="button" mat-icon-button matSuffix (click)="buscarColor()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- dias de garantia -->
    <mat-form-field appearance="fill" class="diasGarantia">
      <mat-label>Días garantía</mat-label>
      <input type="text" matInput formControlName="diasGarantia" />
    </mat-form-field>
    <!-- fecha inicio de la garantia -->
    <mat-form-field appearance="fill" class="fechaInicioGarantia">
      <mat-label>Fecha inicio garantía</mat-label>
      <input
        matInput
        [matDatepicker]="fechaInicioGarantiaPicker"
        formControlName="fechaInicioGarantia" />
      <mat-datepicker-toggle
        matSuffix
        [for]="fechaInicioGarantiaPicker"></mat-datepicker-toggle>
      <mat-datepicker #fechaInicioGarantiaPicker></mat-datepicker>
    </mat-form-field>
    <!-- fecha fin de la garantia -->
    <mat-form-field appearance="fill" class="fechaFinGarantia">
      <mat-label>Fecha fin garantía</mat-label>
      <input
        matInput
        [matDatepicker]="fechaFinGarantiaPicker"
        formControlName="fechaFinGarantia" />
      <mat-datepicker-toggle
        matSuffix
        [for]="fechaFinGarantiaPicker"></mat-datepicker-toggle>
      <mat-datepicker #fechaFinGarantiaPicker></mat-datepicker>
    </mat-form-field>
    <!-- origen id -->
    <mat-form-field appearance="fill" class="origenId">
      <mat-label>Origen</mat-label>
      <input type="text" matInput formControlName="origenId" />
      <button type="button" mat-icon-button matSuffix (click)="buscarOrigen()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- asegurado -->
    <mat-slide-toggle formControlName="asegurado" class="asegurado"
      >Asegurado</mat-slide-toggle
    >
    <!-- seguro id -->
    <mat-form-field appearance="fill" class="seguroId">
      <mat-label>Seguro</mat-label>
      <input type="text" matInput formControlName="seguroId" />
      <button type="button" mat-icon-button matSuffix (click)="buscarSeguro()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- clase id -->
    <mat-form-field appearance="fill" class="claseId">
      <mat-label>Clase</mat-label>
      <input type="text" matInput formControlName="claseId" />
      <button type="button" mat-icon-button matSuffix (click)="buscarClase()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- descripcion otra clase -->
    <mat-form-field appearance="fill" class="descripcionOtraClase">
      <mat-label>Descripción de otra clase</mat-label>
      <input type="text" matInput formControlName="descripcionOtraClase" />
    </mat-form-field>
    <!-- valor rescate  -->
    <mat-form-field appearance="fill" class="valorRescate">
      <mat-label>Valor de rescate</mat-label>
      <input type="text" matInput formControlName="valorRescate" />
    </mat-form-field>
    <!-- fuente de financiamiento id -->
    <mat-form-field appearance="fill" class="fuenteFinanciamientoId">
      <mat-label>Fuente de financiamiento</mat-label>
      <input type="text" matInput formControlName="fuenteFinanciamientoId" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarFuenteFinanciamiento()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- codigo centro costos  -->
    <mat-form-field appearance="fill" class="codigoCentroCostos">
      <mat-label>Código centro de costos</mat-label>
      <input type="text" matInput formControlName="codigoCentroCostos" />
    </mat-form-field>
    <!-- rotulacion id -->
    <mat-form-field appearance="fill" class="rotulacionId">
      <mat-label>Rotulación</mat-label>
      <input type="text" matInput formControlName="rotulacionId" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarRotulacion()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- categoria id -->
    <mat-form-field appearance="fill" class="categoriaId">
      <mat-label>Categoría</mat-label>
      <input type="text" matInput formControlName="categoriaId" />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarCategoria()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- especificaciones tecnicas -->
    <mat-form-field appearance="fill" class="especificacionesTecnicas">
      <mat-label>Especificaciones técnicas</mat-label>
      <textarea
        rows="2"
        matInput
        formControlName="especificacionesTecnicas"></textarea>
    </mat-form-field>
  </article>
</form>
