<form [formGroup]="formulario">
  <section class="contenido">
    <!-- unidad administrativa id -->
    <mat-form-field
      appearance="fill"
      [ngClass]="
        modoFormulario === 'CREANDO'
          ? 'unidadAdministrativaIdCreando'
          : 'unidadAdministrativaId'
      ">
      <mat-label>Unidad administrativa</mat-label>
      <input
        type="text"
        matInput
        formControlName="unidadAdministrativaId"
        readonly="true"
        [value]="
          formulario.value.unidadAdministrativaId
            | denominacionUnidadAdministrativa
            | async
        " />
      <button
        *ngIf="modoFormulario === 'CREANDO'"
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarUnidadAdministrativa()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- fecha de ingreso -->
    <mat-form-field appearance="fill" class="fechaIngreso">
      <mat-label>Fecha ingreso</mat-label>
      <input
        matInput
        [matDatepicker]="fechaIngresoPicker"
        formControlName="fechaIngreso"
        readonly="true" />
      <mat-datepicker-toggle
        *ngIf="modoFormulario === 'CREANDO'"
        matSuffix
        [for]="fechaIngresoPicker"></mat-datepicker-toggle>
      <mat-datepicker #fechaIngresoPicker></mat-datepicker>
    </mat-form-field>
    <!-- boton de generacion -->
    <ng-container
      *ngTemplateOutlet="templateGenerarIncorporacion"></ng-container>
    <!-- sede id -->
    <mat-form-field appearance="fill" class="sedeId">
      <mat-label>Sede</mat-label>
      <input
        type="text"
        matInput
        formControlName="sedeId"
        readonly="true"
        [value]="formulario.value.sedeId | denominacionSede | async" />
      <button
        *ngIf="modoFormulario === 'CREANDO'"
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarSede()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- responsable id -->
    <mat-form-field appearance="fill" class="responsableId">
      <mat-label>Responsable</mat-label>
      <input
        type="text"
        matInput
        formControlName="responsableId"
        readonly="true"
        [value]="
          formulario.value.responsableId
            | denominacionResponsable
            | async
            | corregirSeleccionar
        " />
    </mat-form-field>
    <!-- responsable uso id -->
    <mat-form-field appearance="fill" class="responsableUsoId">
      <mat-label>Responsable de uso</mat-label>
      <input
        type="text"
        matInput
        formControlName="responsableUsoId"
        readonly="true"
        [value]="
          formulario.value.responsableUsoId
            | denominacionResponsable
            | async
            | corregirSeleccionar
        " />
      <button
        *ngIf="modoFormulario === 'CREANDO'"
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarResponsableUso()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- estado de uso id -->
    <mat-form-field appearance="fill" class="estadoUsoId">
      <mat-label>Estado de uso</mat-label>
      <input
        type="text"
        matInput
        formControlName="estadoUsoId"
        readonly="true"
        [value]="
          formulario.value.estadoUsoId | denominacionEstadoUso | async
        " />
      <button
        *ngIf="modoFormulario === 'CREANDO'"
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarEstadoUso()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- estadoConservacionId -->
    <mat-form-field appearance="fill" class="estadoConservacionId">
      <mat-label>Estado de conservación</mat-label>
      <input
        type="text"
        matInput
        formControlName="estadoConservacionId"
        readonly="true"
        [value]="
          formulario.value.estadoConservacionId
            | denominacionEstadoConservacion
            | async
        " />
      <button
        *ngIf="modoFormulario === 'CREANDO'"
        type="button"
        mat-icon-button
        matSuffix
        (click)="buscarEstadoConservacion()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- descripcion de estado de conservacion -->
    <mat-form-field appearance="fill" class="descripcionEstadoConservacion">
      <mat-label>Descripción del estado de conservación</mat-label>
      <textarea
        rows="2"
        matInput
        formControlName="descripcionEstadoConservacion"></textarea>
    </mat-form-field>
  </section>
</form>

<ng-template #templateGenerarIncorporacion>
  <article class="generarIncorporacion" *ngIf="modoFormulario === 'CREANDO'">
    <form [formGroup]="formularioEspecial">
      <mat-slide-toggle formControlName="generarIncorporacion"
        >Generar incorporación al guardar</mat-slide-toggle
      >
      <p
        class="explicacion"
        *ngIf="
          !activoIncorporado() &&
          (formularioEspecial.value.generarIncorporacion === true ||
            formularioEspecial.value.generarIncorporacion === 1)
        ">
        Es necesario que esten seleccionados los campos: unidad administrativa,
        sede, y responsable de uso
      </p>
    </form>
  </article>
</ng-template>
