<section class="contenedor-singular superior">
  <!-- encabezado -->
  <app-encabezado-reportes
    [titulo]="titulo"
    [fechaEmision]="fechaEmision"></app-encabezado-reportes>
</section>
<!-- <pre>{{ formularioFiltrosActivos.value | json }}</pre> -->
<!-- filtros -->
<section class="contenedor-singular superior inferior">
  <!-- datos generales -->
  <mat-expansion-panel class="panel-superior">
    <mat-expansion-panel-header
      >Filtros: Datos Generales</mat-expansion-panel-header
    >
    <section class="inferior superior">
      <app-filtro-rango-fechas
        class="rangoFechas"
        [formulario]="formularioRangoFechas"
        [habilitarReferencia]="true"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-rango-fechas>
      <article class="varios">
        <app-filtro-tipo-activo
          [formulario]="formularioFiltrosActivos"
          [sinDecorar]="filtrosSinDecorar"></app-filtro-tipo-activo>
        <app-filtro-catalogo-general
          [formulario]="formularioFiltrosActivos"
          [sinDecorar]="filtrosSinDecorar"></app-filtro-catalogo-general>
        <app-filtro-marca
          [formulario]="formularioFiltrosActivos"
          [sinDecorar]="filtrosSinDecorar"></app-filtro-marca>
        <app-filtro-modelo
          [formulario]="formularioFiltrosActivos"
          [sinDecorar]="filtrosSinDecorar"></app-filtro-modelo>
        <app-filtro-moneda
          [formulario]="formularioFiltrosActivos"
          [sinDecorar]="filtrosSinDecorar"></app-filtro-moneda>
        <app-filtro-color
          [formulario]="formularioFiltrosActivos"
          [sinDecorar]="filtrosSinDecorar"></app-filtro-color>
        <app-filtro-rotulacion
          [formulario]="formularioFiltrosActivos"
          [sinDecorar]="filtrosSinDecorar"></app-filtro-rotulacion>
        <app-filtro-categoria
          [formulario]="formularioFiltrosActivos"
          [sinDecorar]="filtrosSinDecorar"></app-filtro-categoria>
      </article>
    </section>
  </mat-expansion-panel>
  <!-- detalles -->
  <mat-expansion-panel class="panel-superior">
    <mat-expansion-panel-header>FIltros: Detalles</mat-expansion-panel-header>
    <section class="varios">
      <app-filtro-origen
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-origen>
      <app-filtro-fuente-financiamiento
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-fuente-financiamiento>
      <app-filtro-clase
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-clase>
      <app-filtro-centro-costo
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-centro-costo>
      <app-filtro-tipo-semoviente
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-tipo-semoviente>
      <app-filtro-proposito-semoviente
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-proposito-semoviente>
      <app-filtro-tipo-animal
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-tipo-animal>
      <app-filtro-raza
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-raza>
    </section>
  </mat-expansion-panel>
  <!-- componentes -->
  <mat-expansion-panel class="panel-superior">
    <mat-expansion-panel-header
      >Filtros: Componentes</mat-expansion-panel-header
    >
    <section class="varios">
      <app-filtro-tipo-componente
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-tipo-componente>
    </section>
  </mat-expansion-panel>
  <!-- depreciaicon -->
  <mat-expansion-panel class="panel-superior">
    <mat-expansion-panel-header
      >Filtros: Depreciación</mat-expansion-panel-header
    >
    <section class="varios">
      <app-filtro-metodo-depreciacion
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-metodo-depreciacion>
      <app-filtro-cuenta-contable
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-cuenta-contable>
    </section>
  </mat-expansion-panel>
  <!-- ubicacion -->
  <mat-expansion-panel class="panel-superior">
    <mat-expansion-panel-header>Filtros: Ubicación</mat-expansion-panel-header>
    <section class="varios">
      <app-filtro-unidad-administrativa
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-unidad-administrativa>
      <app-filtro-sede
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-sede>
      <app-filtro-responsable
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-responsable>
      <app-filtro-estado-uso
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-estado-uso>
      <app-filtro-estado-conservacion
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-estado-conservacion>
    </section>
  </mat-expansion-panel>
  <!-- otros -->
  <mat-expansion-panel class="panel-superior">
    <mat-expansion-panel-header>Filtros: Otros</mat-expansion-panel-header>
    <section class="varios">
      <app-filtro-tipo-marca
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-tipo-marca>
      <app-filtro-categoria-unidad-administrativa
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="
          filtrosSinDecorar
        "></app-filtro-categoria-unidad-administrativa>
      <app-filtro-ciudad
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-ciudad>
      <app-filtro-estado
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-estado>
      <app-filtro-municipio
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-municipio>
      <app-filtro-pais
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-pais>
      <app-filtro-parroquia
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-parroquia>
      <app-filtro-aseguradora
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-aseguradora>
      <app-filtro-tipo-cobertura
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-tipo-cobertura>
      <app-filtro-tipo-poliza
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-tipo-poliza>
      <app-filtro-tipo-sede
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-tipo-sede>
      <!-- <app-filtro-tipo-uso
        [formulario]="formularioFiltrosActivos"
        [sinDecorar]="filtrosSinDecorar"></app-filtro-tipo-uso> -->
    </section>
  </mat-expansion-panel>
  <!-- seleccion de propiedades -->
  <mat-expansion-panel>
    <mat-expansion-panel-header
      >Seleccion de propiedades a exportar</mat-expansion-panel-header
    >
    <section class="contenedor-singular inferior superior">
      <app-filtro-propiedades
        [sinDecorar]="filtrosSinDecorar"></app-filtro-propiedades>
    </section>
  </mat-expansion-panel>
</section>
<!-- lista de activos -->
<section class="contenedor-singular superior inferior">
  <app-detalle [dataSource]="dataSource"></app-detalle>
</section>
<app-toolbar
  (guardar)="guardar()"
  [desabilitarGuardar]="dataSource.data.length === 0"
  [mostrarBorrar]="false"
  [mostrarBuscar]="false"
  [mostrarImportar]="false"
  [mostrarSalir]="false"></app-toolbar>
