.outside {
  @apply p-4;
}

.espaciador {
  flex: 1 1 auto;
}

.contenido {
  @apply flex items-center;
}

.titulo {
  @apply text-primary text-xl font-semibold ml-4;
}

.buscar {
  @apply w-3/12 mb-0 pb-0 mt-4;
}

.table {
  @apply w-full;
}

th.mat-column-denominacion {
  @apply w-fit;
}

th.mat-column-codigo {
  width: 12rem;
}

th.mat-column-acciones {
  width: 8rem;
}

th.mat-column-acciones,
td.mat-column-acciones {
  text-align: center;
}

th.mat-column-creado,
th.mat-column-modificado {
  @apply w-2/12;
}

th.mat-column-tipo {
  @apply w-1/12;
}
.boton-crear {
  height: 58px;
  margin-bottom: 4px;
  margin-right: 16px;
}

.row-hover {
  @apply hover:bg-primary hover:bg-opacity-10;
}
