<!-- filtro -->
<ng-container *ngIf="sinDecorar; else decorado">
  <ng-container *ngTemplateOutlet="contenido"></ng-container>
</ng-container>

<!-- decorado -->
<ng-template #decorado>
  <mat-card appearance="outlined">
    <mat-card-title class="titulo-filtro"
      >Selección de las propiedades a exportar</mat-card-title
    >
    <p class="descripcion-filtro">
      Seleccione las propiedades del bien que desea exportar, si no selecciona
      ninguna se exportarán todas.
    </p>
    <ng-container *ngTemplateOutlet="contenido"></ng-container>
  </mat-card>
</ng-template>

<!-- contenido -->
<ng-template #contenido>
  <section class="contenido" cdkDropListGroup>
    <mat-card appearance="outlined" class="disponibles mat-elevation-z2">
      <mat-card-title class="titulo-propiedades"
        >Propiedades disponibles</mat-card-title
      >
      <article class="propiedades">
        <mat-chip-listbox
          cdkDropList
          [cdkDropListData]="propiedadesDisponibles"
          (cdkDropListDropped)="accionSoltar.emit($event)">
          <mat-chip-option
            cdkDrag
            *ngFor="let propiedad of propiedadesDisponibles"
            class="propiedad"
            (dblclick)="accionAgregar.emit(propiedad)"
            [color]="propiedad.color"
            selected>
            {{ propiedad.nombre }}
          </mat-chip-option>
        </mat-chip-listbox>
      </article>
    </mat-card>
    <mat-card appearance="outlined" class="seleccionadas mat-elevation-z2">
      <mat-card-title class="titulo-propiedades"
        >Propiedades seleccionadas</mat-card-title
      >
      <article class="propiedades">
        <mat-chip-listbox
          cdkDropList
          [cdkDropListData]="propiedadesSeleccionadas"
          (cdkDropListDropped)="accionSoltar.emit($event)">
          <mat-chip-option
            cdkDrag
            *ngFor="let propiedad of propiedadesSeleccionadas"
            class="propiedad"
            (dblclick)="accionEliminar.emit(propiedad)"
            [color]="propiedad.color"
            selected>
            {{ propiedad.nombre }}
          </mat-chip-option>
        </mat-chip-listbox>
      </article>
    </mat-card>
  </section>
</ng-template>
