<mat-card>
  <mat-card-title class="titulo-filtro"
    >Selección de las propiedades a exportar</mat-card-title
  >
  <p class="descripcion-filtro">
    Seleccione las propiedades del bien que desea exportar, si no selecciona
    ninguna se exportarán todas.
  </p>
  <section class="contenedor" cdkDropListGroup>
    <mat-card class="disponibles mat-elevation-z2">
      <mat-card-title class="titulo-propiedades"
        >Propiedades disponibles</mat-card-title
      >
      <article class="caja">
        <mat-chip-list
          cdkDropList
          [cdkDropListData]="propiedadesDisponibles"
          (cdkDropListDropped)="soltar($event)">
          <mat-chip
            cdkDrag
            *ngFor="let propiedad of propiedadesDisponibles"
            class="propiedad"
            [color]="propiedad.color"
            selected>
            {{ propiedad.nombre }}
          </mat-chip>
        </mat-chip-list>
      </article>
    </mat-card>
    <mat-card class="seleccionadas mat-elevation-z2">
      <mat-card-title class="titulo-propiedades"
        >Propiedades seleccionadas</mat-card-title
      >
      <article class="caja">
        <mat-chip-list
          cdkDropList
          [cdkDropListData]="propiedadesSeleccionadas"
          (cdkDropListDropped)="soltar($event)">
          <mat-chip
            cdkDrag
            *ngFor="let propiedad of propiedadesSeleccionadas"
            class="propiedad"
            [color]="propiedad.color"
            selected>
            {{ propiedad.nombre }}
          </mat-chip>
        </mat-chip-list>
      </article>
    </mat-card>
  </section>
</mat-card>
