<div class="pageContent">
  <mat-card class="card">
    <mat-card-title> Cátalogo General </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content">
      <form [formGroup]="formCatalogoGeneral" class="card-content-form-datos">
        <mat-form-field>
          <mat-label>Código</mat-label>
          <input
            #digito
            matInput
            type="text"
            matInput
            formControlName="codigo"
            maxlength="{{ logitudCuentaGeneral }}"
            minlength="{{ logitudCuentaGeneral }}"
            (blur)="validarDigitosCuenta($event)"
            [readonly]="config.length == 0"
            required />

          <mat-hint>Formato: {{ formatoCuenta }} </mat-hint>
          <mat-hint align="end"
            >Dígitos: {{ digito.value.length }} /{{
              logitudCuentaGeneral
            }}</mat-hint
          >
          <mat-error
            *ngIf="formCatalogoGeneral.controls['codigo'].hasError('required')"
            >El valor es obligatorio</mat-error
          >
        </mat-form-field>
        <mat-form-field class="descripcion">
          <mat-label>Denominación</mat-label>
          <input
            matInput
            type="text"
            matInput
            formControlName="denominacion"
            maxlength="254"
            minlength="4"
            required />
          <mat-error
            *ngIf="
              formCatalogoGeneral.controls['denominacion'].hasError('required')
            "
            >El valor es obligatorio</mat-error
          >
        </mat-form-field>

        <mat-form-field class="descripcion">
          <mat-label>Referencia</mat-label>
          <input
            matInput
            type="text"
            matInput
            formControlName="referencia"
            [readonly]="true"
            required />
          <mat-hint align="init">Denominación: {{ denominacionREf }}</mat-hint>
          <span
            matSuffix
            mat-button
            (click)="openCatalogoReferencia()"
            role="img"
            aria-hidden="true"
            ><mat-icon>search</mat-icon></span
          >
        </mat-form-field>

        <div class="descripcion">
          <mat-slide-toggle formControlName="estatus"
            >Código de Movimiento</mat-slide-toggle
          >
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<app-toolbar
  (crear)="inicializar()"
  (buscar)="openCatalogo()"
  (borrar)="deleteGeneralCatalog()"
  (guardar)="newGeneralCatalog()"
  (salir)="exit()"
  [desabilitarImprimir]="true"
  [desabilitarBuscar]="allCatalog.length == 0"
  [desabilitarBorrar]="!formCatalogoGeneral.valid && operacion != 'actualizar'"
  [desabilitarGuardar]="!formCatalogoGeneral.valid && config.length == 0">
</app-toolbar>
