<div class="pageContent">
  <mat-card class="card">
    <mat-card-title> Unidad Administrativa </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="card-content">
      <form
        [formGroup]="formUnidadAdministrativa"
        class="card-content-form-datos">
        <mat-form-field>
          <mat-label>Código</mat-label>
          <input
            matInput
            type="text"
            matInput
            formControlName="codigo"
            maxlength="5"
            required
            (blur)="validateCode($event, 'codigo')"
            [readonly]="idUnit > 0 || operacion == 'actualizar'"
            required />
          <mat-error
            *ngIf="
              formUnidadAdministrativa.controls['codigo'].hasError('required')
            "
            >El valor es obligatorio</mat-error
          >
        </mat-form-field>

        <mat-form-field class="descripcion">
          <mat-label>Descripción de la Unidad</mat-label>
          <input
            matInput
            type="text"
            matInput
            formControlName="denominacion"
            maxlength="200"
            minlength="5"
            required />
          <mat-error
            *ngIf="
              formUnidadAdministrativa.controls['denominacion'].hasError(
                'required'
              )
            "
            >El valor es obligatorio</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Categoría de la Unidad</mat-label>
          <mat-select formControlName="categoria">
            <mat-option *ngFor="let cat of allCategory" [value]="cat.id">
              {{ cat.denominacion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="descripcion">
          <mat-label
            >Especifique otra categoría no encontrada en la categiría de la
            unidad</mat-label
          >
          <input
            matInput
            type="text"
            matInput
            formControlName="otraDenominacion"
            maxlength="200"
            minlength="5" />
          <mat-error
            *ngIf="
              formUnidadAdministrativa.controls['otraDenominacion'].hasError(
                'required'
              )
            "
            >El valor es obligatorio</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Unidad a la cual esta inscrito</mat-label>
          <mat-select formControlName="codUnidadAdscrita">
            <mat-option
              *ngFor="let unit of allUnit"
              [value]="unit.idUnidadAdministrativaBien">
              {{ unit.denominacionUnidadAdministrativaBien }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<app-toolbar
  (crear)="inicializar()"
  (buscar)="openCatalogo()"
  (borrar)="deleteUnit()"
  (guardar)="newUnit()"
  (salir)="exit()"
  [desabilitarImprimir]="true"
  [desabilitarBuscar]="allUnit.length <= 1"
  [desabilitarGuardar]="!formUnidadAdministrativa.valid"
  [desabilitarBorrar]="
    !formUnidadAdministrativa.valid || operacion != 'actualizar'
  ">
</app-toolbar>
