.generarAsientosContables,
.fechaIncorporacionAutomatica,
.opcionesPaginacion,
.separadorMascaraCodigo {
  @apply col-span-3;
}

.prefijoSerialRotulacion,
.activarPaginacion,
.longitudCatalogoCuentas,
.longitudCodigoInstitucional,
.afectacionDepreciacion,
.normativaActivos {
  @apply col-span-2;
}

.formatoCatalogoCuentaGeneral,
.formatoCodigoInstitucional {
  @apply col-span-3;
}

.toggle {
  @apply col-span-4 row-span-2 grid grid-cols-1 gap-4 text-center;
}

.contenedor-singular {
  @apply pb-1 pr-20;
}
.contenedorPaginacion {
  padding: 1rem;
  padding-top: 0%;
  padding-right: 5rem;
}

.imprimirProceso {
  @apply col-span-3 pt-4;
}

.activarPaginacion,
.decorarFiltros {
  @apply col-span-2 pt-4;
}
