@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr';

@font-face {
  font-family: 'Fira Sans';
  src: url(assets/fonts/FiraSans-Regular.ttf);
}

$mat-myapp-primary: (
  50: #e1e7ec,
  100: #b5c3d0,
  200: #839bb1,
  300: #517392,
  400: #2c557a,
  500: #073763,
  600: #06315b,
  700: #052a51,
  800: #042347,
  900: #021635,
  A100: #6d97ff,
  A200: #3a73ff,
  A400: #074fff,
  A700: #0044ec,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mat-myapp-secondary: (
  50: #efe3f1,
  100: #d8badc,
  200: #be8cc4,
  300: #a35eac,
  400: #903c9b,
  500: #7c1989,
  600: #741681,
  700: #691276,
  800: #5f0e6c,
  900: #4c0859,
  A100: #ea8cff,
  A200: #e159ff,
  A400: #d726ff,
  A700: #d30dff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mat-myapp-accent: (
  50: #e1f0f1,
  100: #b4dbdd,
  200: #83c3c6,
  300: #51aaaf,
  400: #2b989d,
  500: #06868c,
  600: #057e84,
  700: #047379,
  800: #03696f,
  900: #02565c,
  A100: #8df6ff,
  A200: #5af2ff,
  A400: #27eeff,
  A700: #0eecff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-myapp-warn: (
  50: #f7e2ea,
  100: #ecb6c9,
  200: #df85a6,
  300: #d25482,
  400: #c93067,
  500: #bf0b4c,
  600: #b90a45,
  700: #b1083c,
  800: #a90633,
  900: #9b0324,
  A100: #ffc6cf,
  A200: #ff93a4,
  A400: #ff6078,
  A700: #ff4763,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary: mat-palette($mat-myapp-primary);
$secondary: mat-palette($mat-myapp-secondary);
$accent: mat-palette($primary, A100);
$warn: mat-palette($mat-red, 900);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  margin: 0;
  background: #073763;
  font-family: 'Fira Sans', Roboto, sans-serif;
}

.espaciador {
  flex: 1 1 auto;
}

.contenedor {
  padding: 1rem;
}

.contenedor-singular {
  padding: 1rem;
  padding-right: 3.75rem;
}

.contenido {
  @apply grid grid-cols-12 gap-x-4;
}

.codigo {
  @apply col-span-3;
}

.denominacion {
  @apply col-span-9;
}

.table {
  @apply w-full;
}

th.mat-column-denominacion,
td.mat-column-denominacion {
  @apply w-fit;
}

th.mat-column-codigo,
td.mat-column-codigo {
  @apply w-28;
}

th.mat-column-cuentaContable,
td.mat-column-cuentaContable {
  @apply w-40;
}

th.mat-column-acciones-proceso,
td.mat-column-acciones-proceso {
  width: 8rem !important;
  text-align: center !important;
}

th.mat-column-acciones,
td.mat-column-acciones {
  width: 8rem;
  text-align: center;
}

th.mat-column-creado,
th.mat-column-modificado {
  @apply w-52 pl-4;
}

mat-datepicker-toggle {
  @apply text-primary;
}

.row-hover {
  @apply hover:bg-primary hover:bg-opacity-10;
}

.pageContentSmall {
  padding: 15px;
}

.superior {
  @apply pb-0;
}

.inferior {
  @apply pt-0 mt-1;
}

.contenedor-reporte {
  @apply p-4;
}

.contenido-reporte {
  @apply py-8 pl-16 pr-8;
}

.filtro-titulo {
  @apply text-base text-primary mb-0;
}

.filtro-descripcion {
  @apply text-xs mt-0 pt-0 pb-2 font-thin;
}

.filtro-input {
  @apply w-full;
}

.filtro-card {
  @apply h-full w-full;
}
