/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr';

@font-face {
  font-family: 'Fira Sans';
  src: url(assets/fonts/FiraSans-Regular.ttf);
}

// @font-face {
//   font-family: 'Noto Sans';
//   src: url(assets/fonts/NotoSansKR-Regular.otf);
// }

// @font-face {
//   font-family: 'Roboto';
//   src: url(assets/fonts/Raleway-Regular.ttf);
// }

// @font-face {
//   font-family: 'Open Sans';
//   src: url(assets/fonts/OpenSans-Regular.ttf);
// }

// @font-face {
//   font-family: 'Raleway';
//   src: url(assets/fonts/Raleway-Regular.ttf);
// }

body {
  margin: 0;
  background: #073763;
}

* {
  font-family: 'Fira Sans', sans-serif;
  // font-family: 'Noto Sans', unset;
  // font-family: 'Raleway', sans-serif;
  // font-family: 'Open Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
}

$mat-myapp-primary: (
  50: #e1e7ec,
  100: #b5c3d0,
  200: #839bb1,
  300: #517392,
  400: #2c557a,
  500: #073763,
  600: #06315b,
  700: #052a51,
  800: #042347,
  900: #021635,
  A100: #6d97ff,
  A200: #3a73ff,
  A400: #074fff,
  A700: #0044ec,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mat-myapp-accent: (
  50: #e2e7e8,
  100: #b6c2c5,
  200: #869a9e,
  300: #557177,
  400: #30525a,
  500: #0c343d,
  600: #0a2f37,
  700: #08272f,
  800: #062127,
  900: #03151a,
  A100: #58cfff,
  A200: #25c1ff,
  A400: #00acf1,
  A700: #009ad8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

// .mainColor {
//   background: #073763;
//   color: white;
// }

// .mainColorText {
//   color: #073763 !important;
// }

// .title {
//   font-weight: 600;
//   font-size: x-large;
//   margin: 0;
// }

// .flex {
//   display: flex;
//   flex-wrap: wrap;
// }

// .justify-content-center {
//   justify-content: center;
// }

// .align-items-center {
//   align-items: center;
// }

// .pageContent {
//   padding: 15px 60px 15px 15px;
// }

// .pageContentSmall {
//   padding: 15px;
// }

// .mat-dialog-container {
//   padding: 0 !important;
//   border-radius: 0.35rem !important;
// }

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  //font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.contenedor {
  padding: 1rem;
}

.contenedor-singular {
  padding: 1rem;
  padding-right: 3.75rem;
}

.contenido {
  @apply grid grid-cols-12 gap-x-4;
}

.codigo {
  @apply col-span-3;
}

.denominacion {
  @apply col-span-9;
}
