<app-encabezado-definiciones
  [titulo]="titulo"
  [ocultarNuevo]="ocultarNuevo"
  (nuevo)="nuevo()"
  (filtrarDatos)="filtrar($event)"
  (limpiarBuscadorEvento)="filtrar($event)"
  [hidden]="ocultarEncabezado"></app-encabezado-definiciones>

<!-- filtros de integraciones -->
<mat-card class="superior inferior">
  <section class="filtros">
    <app-filtro-rango-fechas
      [formulario]="formularioRangoFechas"
      [sinDecorar]="!configuracion.decorarFiltros"></app-filtro-rango-fechas>
    <app-filtro-tipo-proceso
      [formulario]="formulario"
      [sinDecorar]="!configuracion.decorarFiltros"></app-filtro-tipo-proceso>
    <app-filtro-registrados
      [formulario]="formulario"
      [sinDecorar]="!configuracion.decorarFiltros"></app-filtro-registrados>
    <app-filtro-aprobados
      [formulario]="formulario"
      [sinDecorar]="!configuracion.decorarFiltros"></app-filtro-aprobados>
    <app-filtro-integrados
      [formulario]="formulario"
      [sinDecorar]="!configuracion.decorarFiltros"></app-filtro-integrados>
  </section>
</mat-card>

<!-- datos de integracion -->
<mat-card class="superior inferior">
  <form [formGroup]="formularioIntegracion">
    <section class="datosIntegracion">
      <!-- texto linea empresa -->
      <article class="lineaEmpresaTexto">
        <ng-container
          *ngIf="
            formularioIntegracion.value.lineEnterprise === 'Seleccionar';
            then noSeleccionado;
            else seleccionado
          ">
        </ng-container>
        <ng-template #noSeleccionado>
          <p class="indicacionesLine" id="pNoSeleccionado">
            Es necesario seleccionar <b>Linea Empresa</b> para ejecutar las
            integraciones
          </p>
        </ng-template>
        <ng-template #seleccionado>
          <p class="indicacionesLine" id="pSeleccionado">
            <b>Linea Empresa</b> listo para ejecutar las integraciones
          </p>
        </ng-template>
      </article>
      <!-- linea empresa -->
      <app-filtro-line-enterprise
        class="lineaEmpresa"
        [formulario]="formularioIntegracion"
        [sinDecorar]="
          !configuracion.decorarFiltros
        "></app-filtro-line-enterprise>
      <!-- fecha integraciones-->
      <mat-form-field appearance="fill" class="fechaIntegraciones">
        <mat-label>Fecha de Integraciones</mat-label>
        <input
          matInput
          formControlName="fechaIntegracion"
          [matDatepicker]="pickerFechaIntegraciones"
          readonly />
        <mat-datepicker-toggle matSuffix [for]="pickerFechaIntegraciones">
        </mat-datepicker-toggle>
        <mat-datepicker #pickerFechaIntegraciones></mat-datepicker>
      </mat-form-field>
      <!-- comentario -->
      <mat-form-field appearance="fill" class="comentario">
        <mat-label>Comentario</mat-label>
        <input
          type="text"
          matInput
          formControlName="comentario"
          placeholder="Use comentarios aplicables a todas las integraciones seleccionadas" />
      </mat-form-field>
    </section>
  </form>
</mat-card>

<mat-card class="card-table superior inferior">
  <!-- tabla -->
  <table mat-table [dataSource]="dataSource" class="table" matSort>
    <!-- tipo -->
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Proceso</th>
      <td mat-cell *matCellDef="let row">
        {{ row.procesoTipo | titlecase }}
      </td>
    </ng-container>
    <!-- comprobante -->
    <ng-container matColumnDef="comprobante">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Comprobante</th>
      <td mat-cell *matCellDef="let row">
        {{ row.procesoComprobante | corregirCodigo }}
      </td>
    </ng-container>
    <!-- activo -->
    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bien</th>
      <td mat-cell *matCellDef="let row">
        {{ row.activo | corregirDenominacionActivo }}
      </td>
    </ng-container>
    <!-- creado -->
    <ng-container matColumnDef="creado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Creado</th>
      <td mat-cell *matCellDef="let row">
        {{ row.creado | date : 'medium' }}
      </td>
    </ng-container>
    <!-- modificado -->
    <ng-container matColumnDef="modificado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificado</th>
      <td mat-cell *matCellDef="let row">
        {{ row.modificado | date : 'medium' }}
      </td>
    </ng-container>

    <!-- acciones-proceso -->
    <ng-container matColumnDef="acciones-proceso">
      <th mat-header-cell *matHeaderCellDef>
        <mat-slide-toggle #toggleAprobarTodos (toggleChange)="aprobarTodos()"
          >Aprobar Todos</mat-slide-toggle
        >
        <mat-slide-toggle #toggleIntegrarTodos (toggleChange)="integrarTodos()"
          >Integrar Todos</mat-slide-toggle
        >
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-slide-toggle
          #toggleAprobar
          *ngIf="opciones[row.procesoTipo]['aprobar']"
          [checked]="aprobar(row)"
          [disabled]="!opciones[row.procesoTipo]['aprobar']"
          (toggleChange)="actualizarAprobar(!toggleAprobar.checked, row)"
          >{{
            toggleAprobar.checked ? 'Aprobado' : 'Aprobar'
          }}</mat-slide-toggle
        >
        <mat-slide-toggle
          #toggleIntegrar
          *ngIf="
            opciones[row.procesoTipo]['integrar'] &&
            row.registrado == 1 &&
            row.aprobado == 1
          "
          [checked]="integrar(row)"
          [disabled]="!opciones[row.procesoTipo]['integrar']"
          (toggleChange)="actualizarIntegrar(!toggleIntegrar.checked, row)"
          >{{
            toggleIntegrar.checked ? 'Integrado' : 'Integrar'
          }}</mat-slide-toggle
        >
      </td>
    </ng-container>

    <!-- ejecuta el armado de la tabla -->
    <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnasVisibles"
      class="row-hover"
      [ngClass]="row.registrado == 0 ? 'negritas' : 'normal'"
      (dblclick)="dobleClick.emit(row)"></tr>

    <!-- mostrar cuando no hay datos que coincidan -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No hay datos para mostrar que concidan con la busqueda "{{
          dataSource.filter
        }}, ni con los filtros seleccionados"
      </td>
    </tr>
  </table>
</mat-card>
