<app-encabezado-definiciones
  [titulo]="titulo"
  [ocultarNuevo]="ocultarNuevo"
  (nuevo)="nuevo()"
  (filtrarDatos)="filtrar($event)"
  (limpiarBuscadorEvento)="filtrar($event)"
  [hidden]="ocultarEncabezado"></app-encabezado-definiciones>
<mat-card appearance="outlined" class="card-table">
  <!-- tabla -->
  <table mat-table [dataSource]="dataSource" class="table" matSort>
    <!-- codigo -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</th>
      <td mat-cell *matCellDef="let row">{{ row.codigo | corregirCodigo }}</td>
    </ng-container>
    <!-- denominacion -->
    <ng-container matColumnDef="denominacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Denominación</th>
      <td mat-cell *matCellDef="let row">{{ row.denominacion }}</td>
    </ng-container>
    <!-- tipoAnimalId -->
    <ng-container matColumnDef="tipoAnimalId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo animal</th>
      <td mat-cell *matCellDef="let row">
        {{ row.tipoAnimalId | denominacionTipoAnimal | async }}
      </td>
    </ng-container>
    <!-- creado -->
    <ng-container matColumnDef="creado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Creado</th>
      <td mat-cell *matCellDef="let row">
        {{ row.creado | date : 'medium' }}
      </td>
    </ng-container>
    <!-- modificado -->
    <ng-container matColumnDef="modificado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Modificado</th>
      <td mat-cell *matCellDef="let row">
        {{ row.modificado | date : 'medium' }}
      </td>
    </ng-container>

    <!-- acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <app-botones-acciones
          (editar)="editar(row)"
          (eliminar)="eliminar(row)"></app-botones-acciones>
      </td>
    </ng-container>

    <!-- ejecuta el armado de la tabla -->
    <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columnasVisibles"
      class="row-hover"
      (dblclick)="dobleClick.emit(row)"></tr>

    <!-- mostrar cuando no hay datos que coincidan -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No hay datos para mostrar que concidan con la busqueda "{{
          dataSource.filter
        }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    *ngIf="activarPaginacion"
    [length]="dataSource.data.length"
    [pageSize]="itemsPorPagina"
    [showFirstLastButtons]="mostrarBotonesInicioFinal"
    [pageSizeOptions]="opcionesPaginacion"
    [hidePageSize]="!mostrarOpcionesPaginacion">
  </mat-paginator>
</mat-card>
