<section class="contenedor-singular superior">
  <app-encabezado-reportes
    [titulo]="titulo"
    [fechaEmision]="fechaEmision"></app-encabezado-reportes>
</section>
<section class="contenedor-singular inferior superior">
  <mat-card class="filtro-card">
    <app-filtro-rango-fechas
      [sinDecorar]="filtrosSinDecorar"
      [formulario]="formularioRangoFechas"></app-filtro-rango-fechas>
  </mat-card>
</section>
<section class="contenedor-singular inferior">
  <app-detalle [dataSource]="dataSource"></app-detalle>
</section>
<app-toolbar
  [mostrarImportar]="false"
  [mostrarBorrar]="false"
  [mostrarBuscar]="false"
  [mostrarSalir]="false"
  (exportar)="guardar()"
  [desabilitarExportar]="dataSource.data.length === 0"
  [mostrarExportar]="true"
  [mostrarGuardar]="false"></app-toolbar>
